[2018-03-28 11:57] newbie-gk opened #4 "Can you please support Barcode?"
I checked out the package and tried it on some qrcodes, and it works great! Thank you so much :)
I tried it on barcodes and nothing showed up... Could this also be made to support barcodes?

[2018-03-28 12:45] NatoBoram commented on #4
If this uses Google's [Mobile Vision](https://developers.google.com/vision/android/barcodes-overview) API, then it can be made to read both QR codes and barcodes.

[2018-03-28 13:42] rmtmckenzie commented on #4
TBH I thought it would work by default, but I'll give it a look. I may have told it to only look for QR codes  as that's all I need, but it should be a quick fix. And I haven't tried it with image_picker so no idea if it causes a problem.

[2018-03-28 13:42] rmtmckenzie opened #5 "Scaling is off on Android"
On iOS, the current scaling method works. On Android, it doesn't.

Need to do check for Android vs iOS, and do old scaling method on Android.

[2018-03-28 14:45] NatoBoram commented on #4
If you can import `image_picker: "^0.3.1"` and `camera: "^0.1.2"` and see if it builds, I'm switching immediately!

[2018-03-28 15:35] NatoBoram commented on #4
Hey! Concerning your [answer](https://stackoverflow.com/a/49537092/5083247), I'm having trouble to import it in a freshly created project.

[code]

[code]

[2018-03-28 18:47] rmtmckenzie commented on #4
Hey @NatoBoram  - I've updated that answer. I had the work in the 'static' branch but since merged it to master, and deleted the static branch. So that's why you're getting that error.

I have created a new branch in which I'm doing a bit of cleanup and added support for Barcode (& the other formats that are supported). It's here: [barcode-cleanup](https://github.com/rmtmckenzie/flutter_qr_mobile_

[2018-03-28 18:53] rmtmckenzie commented on #4
And FYI - there's a few things I know I need to do to clean up the code (i.e. initializing in the build function is baaadd!, and I haven't actually exposed the format choice through QrCamera yet...).

[2018-03-28 19:53] NatoBoram commented on #4
Oh, no worries if you have dirty code. It's my first app, for my company, and I have to ship a demo in max two days. There's some initializing in the build function, until I realized it fucked up my forms. Hehe. Oops.

If you can make it so I can just call a `Future<String>` instead of embedding the camera in a custom Flutter view, that's be awesome! Either way, I'll be working on it tomorrow.

Ha

[2018-03-28 20:55] rmtmckenzie opened #6 "Support scanning without showing camera preview"
May as well support this as well =D.

[2018-03-28 20:56] rmtmckenzie commented on #4
Ah okay. Well if you don't want the camera part of it, I'm fairly sure it will work without it - instead of importing QrCamera, import qr_mobile_vision and use the static QrMobileVision.start method. You don't get a future<string> back from it directly (rather you get a callback with PreviewDetails which is used for the camera stuff). You probably don't even need to worry about getting the preview

[2018-03-30 15:16] NatoBoram commented on #4
Hey, thanks. The barcode scanner works well, and my boss is happy. Embedding the camera view is actually better than I expected. Your [example](https://github.com/rmtmckenzie/flutter_qr_mobile_vision/blob/master/example/lib/main.dart) threw away my worries, I'm actually impressed. Good job!

[2018-04-26 18:22] NatoBoram opened #7 "Issue with dual-camera phones"
Hello! I tried the plugin on multiple devices and some of them couldn't use it.

Confirmed

* Essential Phone, PH1

Reportedly

* LG X Power
* Some random Samsung tablet

Here's a screenshot taken with an Essential Phone.

![screenshot_20180426-134608](https://user-images.githubusercontent.com/10495562/39323949-299f756e-495c-11e8-9831-df830c0cc768.png)

The camera was pointed at a desk. The comput

[2018-04-27 14:35] tristan2468 opened #8 "Camera view not starting."
I have the QrCamera widget in my widget tree, and the following Exception occurs.

`'package:qr_mobile_vision/qr_mobile_vision.dart': Failed assertion: line 43 pos 12: 'details is Map<String, dynamic>': is not true.`

This happens on both Android and iOS.

[2018-04-27 15:27] rmtmckenzie commented on #8
Try the barcode-cleanup branch. It has a couple of fixes to get this working in Dart 2.

I'm going to try to clean the plugin up a bit over the weekend and maybe even publish it on pub =).

[2018-04-27 15:27] #8 closed

[2018-04-27 15:28] rmtmckenzie commented on #7
FYI - I haven't tested it on a tablet at all, so it probably won't work very well. I'll see if I can dig one up to test it on!

[2018-04-30 20:42] NatoBoram commented on #7
Tablet performances are horrible so it gets like 1 FPS, but it works on the one I tested

[2018-05-01 06:53] rmtmckenzie commented on #7
Ah okay thanks for the info. Sorry but I didn't get a chance to look at it on the weekend after all. I'll do my best in the next couple days but I'm quite busy right now.

I'm guessing the tablet performance is because right now it tries to get the image from the camera at a resolution based on the size of the widget that displays the view. A larger image from the camera => a larger bitmap to proc

[2018-05-08 08:04] tristan2468 commented on #5
I successfully edited your QrCamera.dart to return a different container from `build()` using `Platform.isAndroid` to test whether it is running on Android or not, and it seems to work.

[2018-05-08 16:33] rmtmckenzie commented on #5
Okay, that's great. I've been working on a fix for this & a few other things (rotation doesn't work very well either, and supporting BoxFit properly), plus cleanup of the code to get it ready to publish.  Unfortunately I've been really busy lately and haven't had a chance to sit down and give it the couple of hours it needs....

[2018-05-08 16:34] rmtmckenzie commented on #5
If you can do a PR that would be appreciated just so I can see what you did, although I probably won't end up using it directly as I've made some fairly significant changes to the underlying implementation.

[2018-05-14 10:07] tristan2468 commented on #5
All I did was uncomment you commented out Android section, but only returned that `Widget` if `Platform.isAndroid`. Otherwise it returned the same `Widget` as you usually do.
Hope that helps.

[2018-05-14 17:45] rmtmckenzie commented on #5
Ah okay. That wasn't working very well for me on my phone.

[2018-05-14 20:54] csutorasr opened #10 "Creating docs"
The example is nice, however it would be better to have docs.

It could be in the wiki section or next to the code.

[2018-05-14 20:56] csutorasr opened #11 "Publish as flutter package"
I think this package should be published, if @rmtmckenzie has no doubt about it. [Here](https://flutter.io/developing-packages/) is some example how to do it.

[2018-05-15 00:48] rmtmckenzie commented on #10
I plan on it eventually but I have absolutely no time at the moment - and when I do get a moment I'm prioritizing getting features & fixes in over docs.

[2018-05-15 00:48] rmtmckenzie commented on #11
I plan on this as well once I get time =)

[2018-05-15 06:40] csutorasr commented on #10
No problem, I have created it to not forget about it, and to track progress here.

[2018-05-20 15:27] jaumard opened #12 "Android camera image is wrong"
Hello,
Thanks for this plugin! It's the only one who is really embedded into a flutter app and not just call for external screen and wait for the answer ^^

Unfortunately it's not working for me, I test on Android (Mi Mix 2 with Android 8.0.0), here is what I have (portrait and landscape which is even worse as when you move it didn't go the correct way)

![device-2018-05-20-172048](https://user-im

[2018-05-21 19:34] rmtmckenzie commented on #12
Yeah the scaling is off on Android. I've been working on a fix but it's taking a while as I've run into orientation stuff and I haven't had much time the last couple of weeks. I'll be trying to get to it this week but no promises.

[2018-06-04 11:59] jaumard commented on #12
My phone was the Xiaomi Mi Mix 2, and yes it has 2 cameras :) might be related too

[2018-06-05 19:14] #12 closed

[2018-06-05 19:43] rmtmckenzie commented on #12
@jaumard  Can you test this with the newest version and reopen if it's still an issue?

[2018-06-05 19:44] rmtmckenzie commented on #11
I've published it now, it should show up once it has been approved: https://pub.dartlang.org/packages/qr_mobile_vision

[2018-06-05 19:44] #11 closed

[2018-06-05 19:44] rmtmckenzie commented on #10
I've added a bit of a README, but no proper docs yet. So this is half way done =D

[2018-06-05 19:46] rmtmckenzie commented on #7
@NatoBoram I've done an update which should fix your scaling issues, but probably not the performance issues yet.

[2018-06-05 19:48] #5 closed

[2018-06-07 13:05] tristan2468 opened #14 "Option to remove the "Camera Loading" Text."
Could we please be able to remove or customise this test?
In my case I'd prefer to have nothing or be able to provide a widget to display while loading?

[2018-06-07 13:21] tristan2468 commented on #14
Sorry, I just realised from looking at the code that I can use the `notStartedBuilder` for this.

[2018-06-07 13:21] #14 closed

[2018-07-05 20:02] GregorySech opened #15 "Request download for engine barcode "loop""
I've cloned the git repo, and started the example on Android.
Pressed the FAB, given permissions and seen the camera widget animate however no QRCode can be scanned.
In the terminal I get the following warnings and infos:

I/DynamiteModule( 4967): Considering local module com.google.android.gms.vision.dynamite:0 and remote module com.google.android.gms.vision.dynamite:1702
I/DynamiteModule( 4967):

[2018-07-05 20:19] GregorySech commented on #15
![qrcode](https://user-images.githubusercontent.com/13541001/42345992-698499bc-80a1-11e8-83a3-eeeca2f96107.jpg)
This is the application running, it simply doesn't detect any QRCode.

[2018-07-08 22:56] jameshmread opened #16 "Minimum SDK preventing Gradle build"
Hello, just installed this package but I cannot run it due to the error detailed below....

I have tried adding this to the androidmanifest.xml which does not help

    <uses-sdk android:minSdkVersion="21"/>

Hope you can help :)

Launching lib\main.dart on ONEPLUS A3003 in debug mode...
C:\{pathToApp}/app\android\app\src\main\AndroidManifest.xml:12:5-14:62 Error:
	uses-sdk:minSdkVersion 16 cannot

[2018-07-11 16:22] wimombelets commented on #16
This is a reproducible exception but can be remedied.
Instead of adding the `<uses-sdk>` element to the android manifest file you can set the android defaultConfig minSdkVersion to 17 in the android/app/build.gradle file.

[2018-07-12 02:04] rmtmckenzie commented on #16
@jameshmread did the suggestion provided by @wimombelets help you out?

[2018-07-12 02:07] rmtmckenzie commented on #15
I'm not 100% sure why that would be. Could you give me some more details i.e. which version of android, what device, etc.

Another thing to check is that your play services are relatively up to date - the Google Mobile Vision library uses the play services to do various things.

[2018-07-12 02:10] #4 closed

[2018-07-12 02:12] rmtmckenzie commented on #15
Also, try explicitly requiring a particular version of play services and play services base in your app/build.gradle file. That may help.

i.e.
[code]

I should probably update the plugin to require the newest version or at least be more transitive, but this should help....

[2018-07-12 02:33] mathd opened #17 "iOS 9"
Hello,

My application work really well under iOS 11  but I have some issue under iOS 9 (9.3.5 last version for iPod gen 5)

This is the error message I get:
[code]

[2018-07-12 06:04] GregorySech commented on #15
I'll try later today. I tried it on a Huawei p10 lite with Android 7.0,
google play services version: 12.6.85 which is up to date according to (Italy's) Play Store.

As soon as I try that particular version of the play services I'll update the thread.

[2018-07-12 14:54] yarrumretep opened #18 "Conflict with firebase_core"
It seems there is some kind of transitive dependency collision between the qr_mobile_vision plugin and the firebase_core plugin on Android.  When both are present in a flutter project, and the camera is activated, the app crashes with:

[code]

Recipe: add the following dependency to the example project:

[code]

Push the button and crash.

It feels maybe like an obfuscated class reference collisi

[2018-07-12 15:07] yarrumretep commented on #18
Fix appears to be to bump the version to `com.google.android.gms:play-services-vision:15.0.1`.

I'll submit a PR

[2018-07-12 17:11] rmtmckenzie commented on #18
Thanks, I'd been meaning to do this but I've had a crazy few weeks at work. It seems to stem from having different versions of play-services-vision and play-services-base - in my app, I've worked around it by simply specifying both of them in my build.gradle. Not ideal though so thanks =D.

[2018-07-12 17:12] #18 closed

[2018-07-12 17:31] rmtmckenzie commented on #17
hmm I haven't tested against iOS 9. I'm not actually sure I can downgrade my test phone to 9!  But this seems to be completely within the realm of flutter. Could you include a log from the iOS side of things to see if something else is going on?

Also, it would be helpful if you could try debugging through the code to see what happens - in qr_camera, check that 'asyncInitOnce' is getting a preview

[2018-07-12 17:33] rmtmckenzie commented on #15
I've also just published a new version that updates the dependency to the most recent version.

[2018-07-14 14:36] GregorySech commented on #15
Ok sorry for the delay, I've tried version 0.0.2 of the package and it doesn't loops anymore on the console however it still doesn't detect any QRCode. I've also tried adding the dependencies directly into the app's build.gradle but nothing changed.

[2018-07-16 16:00] mathd commented on #17
The error come in the build method of the widget.
Here is the content of the details variable:
AsyncSnapshot<PreviewDetails>(ConnectionState.done, null, PlatformException(Error 2, qr_mobile_vision, iOS Versions before 10 not supported.)

So my guess is that you are using API not available under iOS 8 or 9.

[2018-07-17 11:58] jaumard commented on #12
Sorry for the delay :) it works great now ! Thanks !

[2018-07-17 11:59] jaumard commented on #16
One question about the minSDK mine was 16 but with this module I had to put 17, any reason you choose 17 and not 16 @rmtmckenzie ?

[2018-07-17 12:18] jaumard opened #20 "Look into implementing with ML Kit instead (deprecation)"
Just read this on the mobile vision website, just wanted to know if you already using ML Kit here or plan to do it as they say they will stop the API at some point

Thanks

[2018-07-17 14:06] jaumard opened #21 "Failed assertion previewDetails is null"
On a phone in 4.2.2 I have this error

[code]

Any idea why ?

[2018-07-17 18:13] mathd commented on #17
In the file: https://github.com/rmtmckenzie/flutter_qr_mobile_vision/blob/master/ios/Classes/QrMobileVisionPlugin.m line 238, there is a version check for iOS 10.0. I can't see anywhere in the Mobile Vision API documentation why this would not work for iOS before 10.0.

[2018-07-17 20:18] rmtmckenzie commented on #20
Didn't know that. I'll update to MLKit when I get a chance - I need this for my project so if it stops working that would be less than ideal =D. Thanks!

[2018-07-17 20:31] rmtmckenzie commented on #21
Well part of the issue is that I should really fix the errors that get propagated to flutter. I'll push a new build out soon that will fix that. As it stands, an exception is being caught but not being passed to flutter properly so we can't see what the actual exception was.

That being said, generally there are two things that would cause it to fail.
1. play services are too old.
2. no connection

[2018-07-17 20:44] rmtmckenzie commented on #16
Uh no particular reason I don't think other than that's what my project was targeting and that's the earliest device I have to test with. I'll be pushing a new update out soon and I'll lower it to 16.

[2018-07-17 21:18] rmtmckenzie commented on #16
Okay version 0.0.3 has had the min lowered to 16. I haven't tested it at all on 16 so there's a chance it might not work at all.

[2018-07-17 21:19] rmtmckenzie commented on #16
ah. nvm, looking at the code a bit more (should have done that before pushing a new version) I may have a min of API 19.  Just checking to see if there's an actual reason for that =D

[2018-07-17 21:24] rmtmckenzie commented on #21
New build has been pushed, 0.0.3, that should at least propagate the error through to flutter so we can see what happened.

[2018-07-17 21:44] rmtmckenzie commented on #17
I remember now - there's a new api for getting an AVCaptureDevice in 10.0, so I just used it. I was planning on eventually going back and doing it for < 10.0, but never got around to it.

[2018-07-17 21:58] mathd commented on #17
I've created a pull request to fix iOS9. The documentation says that if should work from iOS4 to iOS9. But I've only tested it on iOS 9.3.5 and iOS 11.4.

[2018-07-18 05:41] jaumard commented on #20
:) I need it also, that's why I checking everything to see if it safe to use or not ^^ might be able to help on some issues too if needed

[2018-07-18 05:44] jaumard commented on #21
Thanks ! I'll test that tomorrow (I'm not at the office today so don't have the device with me) I'll report back to you the problem. I notice an old play service on the device so I update to the latest possible (don't remember if I restart after ^^)

[2018-07-18 08:18] jaumard commented on #16
Thanks @wimombelets ! Will check that tomorrow on my side :)

[2018-07-18 19:31] mathd commented on #17
This work well now (but slow), thank you.

[2018-07-18 19:31] #17 closed

[2018-07-19 04:42] rmtmckenzie commented on #17
Hmm. I just realized that I haven't exposed the method to choose which types of barcodes/qr codes to scan through the QrCamera widget - I'll add that in when I get a chance. Specifying the exact type should speed up the processing somewhat. On my iPhone it doesn't really slow it down but I could see lower-spec'd hardware having more trouble.

[2018-07-19 06:06] jaumard commented on #21
So the real error is that:

[code]

[2018-07-19 06:07] jaumard commented on #21
Apparently you try to set a parameter to the camera that is not supported by the device I test on

[2018-07-19 14:17] jaumard opened #24 "Create an example scanner overlay"
Would be nice to have a default scanner skin overlay and a parameter to override it put everything we want on top of the camera preview

[2018-07-19 14:19] jaumard commented on #24
I tried to implement it on my app but didn't manage to do it:
[code]
I know the overlay is not correct but I don't even see the black square on top of the preview :/
Any ideas ?

[2018-07-19 14:23] jaumard opened #25 "App in background don't pause the camera"
On my mi mix 2 if I tap the home button to leave the app in background, the camera still run and show on logs :
[code]

PS: would be also nice to don't have those output ^^ it pollute our logs and seing our log became complicate

[2018-07-19 18:13] rmtmckenzie commented on #25
Hmm, thought I had logic in there to shut off when the app closed but apparently not. I can add it in. And while that logging is certainly associated with this plugin, I don't think I'm actually doing it....

[2018-07-19 18:27] rmtmckenzie commented on #21
Which device is this btw? I assume that it doesn't have auto-focus and that's why it's failing.

[2018-07-19 18:29] rmtmckenzie commented on #15
Weird - it doesn't spit out any errors? Have you tried reading any other types of barcodes?

[2018-07-19 18:49] rmtmckenzie commented on #24
As much as a default skin could be nice, I don't think it's really suited to this plugin as it supports barcodes & qr codes of many different shapes - what might work for you may not work for someone else.

The reason it's not showing up is going to make you groan though, you're missing a 0 in your colour definition, which should really be an error but flutter's just ignoring it instead =D.

[2018-07-19 18:51] rmtmckenzie commented on #24
If I get time I could maybe make a more elaborate example with a crosshair for the example...

[2018-07-19 20:13] rmtmckenzie commented on #25
Pushed v0.0.5 that should fix this. Takes a while to process...

[2018-07-19 20:14] rmtmckenzie commented on #24
I caved slightly and made a child parameter in the newest revision. If you pass a child in, it will size to the same as the image. The example now has an orange border. See v0.0.5 once it's done processing.

[2018-07-19 20:15] rmtmckenzie commented on #21
The newest version should fix this by trying first with autofocus, then if that fails tries without autofocus. Try v0.0.5 once it's done processing.

[2018-07-19 20:16] rmtmckenzie commented on #16
This should be fixed so I'm going to close it; if anyone has an issue please re-open or create a new issue =).

[2018-07-19 20:16] #16 closed

[2018-07-20 05:41] jaumard commented on #16
Sorry I didn't get feedback :) all good for API 16, I was able to install it be not test the scan as my shity device didn't have enough memory :( too old...

[2018-07-20 05:43] jaumard commented on #21
I'm not at the office today so I can't test until next week, but thanks a lot :) I'll test and let you know which device it is. But it's an old shity device lol

[2018-07-20 06:40] jaumard opened #27 "Crash 0.0.5 on Android first permission result or permission denied"
The plugin (so as the all app) is crashing the first time when we accept the permission or when we refuse the permission:

[code]

Tested on Android emulator API 28

[2018-07-20 06:48] jaumard commented on #25
Look like it stop it correctly now :) thanks !

[2018-07-20 07:20] jaumard commented on #21
@rmtmckenzie instead of retrying if it fails, isn't it better to first try to check if auto focus is present or not on the device and use it or not depending on this (https://stackoverflow.com/questions/4368564/android-check-whether-camera-supports-auto-focus) didn't check your implementation yet so I don't know if it's doable but look more clean if it is

[2018-07-20 09:47] PoolsideKelbi opened #28 "Intense lag when the preview is displayed"
I am using Samsung Galaxy C7 (2016) and when the camera preview is displayed, the phone experiences serious fps drops.

[2018-07-20 10:15] jaumard commented on #24
So here is the result of what I have implemented into my app, let me know if you want me to do a PR with it or not :)
<img width="430" alt="capture d ecran 2018-07-20 a 12 14 08" src="https://user-images.githubusercontent.com/2970449/42997290-73fad804-8c16-11e8-8481-e196fa862b52.png">

[2018-07-20 13:19] jaumard commented on #27
After digging a bit it's because you fixed the app background issue that this one is here ^^
now after start you call stop because another Activity is opened so the readingInstance is reset to null and the crash append

[2018-07-20 18:15] rmtmckenzie commented on #28
Does the flutter part of the app slow down, or is it just the camera view that is low FPS?

One thing you can do to improve the situation slightly is specify the exact type of barcode you're scanning (i.e. QR Code vs PDF417) as by default it scans for all types.

However, the main slowdown right now is actually from encoding the image into the format flutter needs, but it could possibly be improve

[2018-07-20 19:00] jaumard commented on #27
What I don't understand (I'm trying to dig into your implementation but never make or see any Flutter plugin yet) is that even if it's not null (I force it to not reset it to test) the error doesn't come back under dart code is that normal ? This line https://github.com/rmtmckenzie/flutter_qr_mobile_vision/blob/master/android/src/main/java/com/github/rmtmckenzie/qrmobilevision/QrMobileVisionPlugin

[2018-07-21 14:45] jaumard commented on #27
Instead of having a dedicated activity for asking permission, you should use the `registrar.addRequestPermissionResultListener`, I'll try to implement this and make a PR with it :)
it should fix everything as you'll not have another activity popup so no stop method call

[2018-07-23 12:21] jaumard opened #30 "Auto focus not working Samsung SM-G900F"
Android 7.1.2.
Other app manage to auto focus and detect barcode when with this module image stay blurry.
Nothing on logs except:
[code]

[2018-07-23 13:10] jaumard opened #31 "Push route on top of scanner, when pop image is freeze"
Tested I was able to reproduce on the example app, the camera should continue once the screen on top is poped. Currently it freeze and we need to trigger manually a rebuild of the widget to make it work again.

[2018-07-23 19:45] #27 closed

[2018-07-23 19:46] rmtmckenzie commented on #30
I'm pushing a new version soon, try that or the master branch out. With the camera2 api I assumed autofocus was the default for all camera so didn't set it explicitly; I've added in a check whether it's supported and set the camera to autofocus if it is.

[2018-07-23 19:49] rmtmckenzie commented on #21
I've updated to do as you suggested, for both camera1 and camera2 api's now.

[2018-07-23 19:49] #21 closed

[2018-07-23 21:15] rmtmckenzie commented on #24
If you'd like you could do a PR to add this to the example app. However, I still don't think it would be a good idea to put it right in to the plugin as it really mostly makes sense for a QR Code. The app I'm using this plugin in for example has a different UI for which that wouldn't work very well.

[2018-07-23 21:15] rmtmckenzie commented on #31
I've looked into this a bit. However, I don't know that there's actually much I can do in a general sense - flutter doesn't provide any mechanism for detecting when another page has been pushed on top of the current one.

I have added a `restart` method to restart the camera, and made it so that QrCamera can have a key passed in. This would make it so that it's possible to implement something inde

[2018-07-24 06:51] jaumard commented on #27
I test master branch and there a problem (I guess you're working on windows ?) but on Mac I have this error:
[code]

I had to rename QRReader to QrReader as it's the name of the class and same for QrReaderCallbacks

[2018-07-24 06:56] jaumard commented on #31
@rmtmckenzie the new key/restart works perfectly :) thanks a lot !
Might worth putting on the Readme or somewhere this limitation, not a big deal as the globalKey solution take 2/3 line more of code ^^

I tried to search also for a built in solution but didn't find anything too

[2018-07-24 13:13] rmtmckenzie commented on #27
Ah crap. That's weird, normally android studio does a good job of changing the name and file name...

[2018-07-24 14:38] rmtmckenzie commented on #27
I pushed a new version fixing the naming.

[2018-07-24 14:39] #25 closed

[2018-07-24 14:44] jaumard commented on #27
All good now :)

[2018-07-24 14:45] rmtmckenzie commented on #31
So I've been thinking about this and the way I did it is not ideal. Could you tell me what you think about this instead @jaumard ?

I'll add an optional parameter 'stopped' to the camera that defaults to false. If that is passed in as true, during the build function I'll cancel the camera if it's running. If it's set back to false, I start the camera again.

The reason I want to do this is that wi

[2018-07-24 14:52] jaumard commented on #31
Hum I really prefer the GlobalKey solution personally ^^ reason is: after the route is pushed to camera doesn't take picture anymore (I know because the annoying logs I mention earlier are stoping ^^)
And rather that a boolean to stop / start the camera I would rather leave the global key and use stop start restart methods directly when we need. At least no state to manage on our widgets for this.

[2018-07-26 12:02] jaumard commented on #30
No luck with last version, it still doesn't manage to focus (but I think he is trying) and doesn't read the barcode where a native camera can easily focus a detect the barcode :(

Also I notice that in this device camera is laggy where native is not, I also test the camera plugin of flutter and it doesn't lag too might worth taking a look at how they did to apply it here ?

[2018-07-26 17:51] mskrip opened #35 "Dropping frames on Oneplus 6"
Even with provided example app when the preview is opened the camera window stutters a lot and I get a lot of log like this regardless of what is camera looking at:

[code]

[2018-07-28 18:53] s-bauer opened #36 "Remove "Dropping frame" output"
Could you remove the "Dropping frame" output from the Android implementation? It really messes up the flutter logs!

https://github.com/rmtmckenzie/flutter_qr_mobile_vision/blob/d1287beccce6e58c7129805a567141517e57098a/android/src/main/java/com/github/rmtmckenzie/qrmobilevision/QrDetector.java#L77

[2018-08-02 19:12] rmtmckenzie commented on #36
Sorry for the delay, I've been on holiday. I agree that's not the right thing to do there. Would a debug-level log statement still be annoying for you? That should be easier to filter out. I see some value in having a some sort of logging at least - without a log statement at least you'd never be able to know when it drops frames.

[2018-08-02 20:31] s-bauer commented on #36
Hey there, I hope you had great holidays! How about adding a callback in dart, which gets fired when a frame drops? This enables developers to detect freezes, so they can react to it. Or at least add the ability to enable/disable debug statements.

I might be able to take a look at this myself this weekend.

[2018-08-07 18:44] Galahand commented on #28
i have the same issue with Galaxy S7 Edge SM G935, also the autofocus doesn't seem to work, i tested with the S9+ and it worked well

[2018-08-08 21:04] MikeSWelch commented on #30
I just wanted to add that I'm having this problem on multiple devices.  Most notably it happens on my SM G950U (Galaxy S8) very consistently.  I'm happy to help troubleshoot this problem in any way that I can.

[2018-08-08 21:08] MikeSWelch commented on #30
Some extra info:  SM G920V (Galaxy S6) has this same problem.  Pixel 2 does not suffer from this problem and works flawlessly.

[2018-08-10 14:05] samigimix opened #37 "Delay between barcode scans & Camera frame rate while scanning"
Thanks for create this useful package 👍
I have 2 problem and have no idea how to handle them :

1. QrCamera's **callback** called too many times immediately after scanned barcode. I want to add a specific delay after each callback and QrCamera can't scan & callback until the end of delay.

2. QrCamera's **camera frame rate** is so low and I want to change it to normal mode.

[2018-08-12 12:59] rmtmckenzie commented on #37
As to #1, I have been planning on eventually adding some logic that makes it only return a new QT code - that's better than a delay I believe. You could do the same in your callback fairly simply for now though.

The second issue is... complicated. Because of all the way the camera works particularly on Android I have to do some non-optimal things to support both camera API's and the QR processing

[2018-08-13 10:49] samigimix commented on #37
As to #1 I used **Timer** and it handled easily.
As to #2 I just using **Barcode**, But where I should specify that ? mention in code ?
Or is there a sub package just for barcode in your package ?

[2018-08-13 16:25] rmtmckenzie commented on #37
QrCamera has a parameter 'formats' which you can pass in, with the formats currently being:

[code]

[2018-08-14 08:58] samigimix commented on #37
Thanks, It helped and performance improved 👍
But if you can write this package **natively** on iOS and android instead of dart, performance improved completely cause dart language is slow basically.
Anyway thanks for support and good luck.

[2018-08-14 16:29] s-bauer commented on #35
Works fine for me on my OnePlus 6. Are you running in release mode?

[2018-08-15 16:15] rmtmckenzie commented on #37
The camera processing is being done natively (well, java at least) for both android and iOS. And the QrCamera passes its size through to the native side so that it can choose the best size of camera input based on that size - so if your view is smaller or you have a lower resolution device it will choose a smaller image to process. Once (if) flutter supports c++ I will definitely rewrite this usin

[2018-08-16 11:56] #37 closed

[2018-08-16 12:02] samigimix commented on #37
Thanks for explain, you're totally right and dart developers should find a solution for that.

[2018-09-01 02:09] allanwolski commented on #35
Same thing here with a Galaxy S5 running in release mode.

[2018-09-01 02:14] allanwolski commented on #28
same thing here with a Galaxy S5

[2018-09-15 17:01] wlans commented on #31
Any updates on this? Running into this problem now.

[2018-09-17 13:34] rmtmckenzie commented on #31
The 'restart' method with a globalkey is in the current implementation but isn't documented as it's really more of a stop-gap solution. Since @jaumard was happy with that I never got around to implementing the other solution I proposed, and I don't really like it all that much anyways so I'll try to find a better solution. I don't have time right now to look at this but hopefully sometime in the n

[2018-09-18 11:53] aureliopetrone opened #38 "Autofocus not working on mediacom t3 10"
Hi, the autofocus is not working on mediacom t3 10. Is there any way to force focus manually?

[2018-09-18 16:28] rmtmckenzie commented on #38
No not at the moment. Do you know if autofocus works for other apps on the tablet or if it's just this one that it doesn't work for? Also, is there any debug output (not the flutter output, the actual android one). I think

Also, I haven't really done much (any) testing on a tablet so I don't know how well it will perform on it. Basically the bigger the camera display the slower it will be for now

[2018-09-18 16:28] rmtmckenzie commented on #38
Oops, clicked close by accident.

[2018-09-19 03:51] LiveRock opened #39 "Flutter: Build ios error : ld: 13 duplicate symbols for architecture x86_64"
It seems like there are conflicts between GoogleMobileVision and GoogleMobileVision?

Getting errors when building Flutter ios:

duplicate symbol _OBJC_IVAR_$_MDMPasscodeCache._localAuthenticationInfo in: /Volumes/flutter/ios/Pods/GoogleMobileVision/Detector/Frameworks/GoogleMobileVision.framework/GoogleMobileVision(MDMPasscodeCache_f189776e75765630b82721fafea64052.o) /Volumes/flutter/ios/Pods/Goo

[2018-09-19 06:27] Hayarobee opened #40 "How can I stop the camera?"
Thanks for the useful widget.
Would you tell me how can I stop the camera?
I try to change other widgets, then throw the exception.

I/flutter (18772): Another exception was thrown: 'package:flutter/src/widgets/framework.dart': Failed assertion: line 3436 pos 12: '_debugLifecycleState != _ElementLifecycle.defunct': is not true.

Is there any stop method or something like that?

[2018-09-19 07:12] rmtmckenzie commented on #40
Hmm. It's weird that's happening - what exactly are you doing when it throws that error? Pushing a new screen on top?  When the widget is disposed it should be stopping automatically.

If you could attach the full stacktrace that could be helpful as well.

That being said, there is an explicit stop method for the QrCameraState. You'll have to use a GlobalKey to get a reference to it which is a bit

[2018-09-19 21:27] tzinmein commented on #28
Probably related: I'm currently trying to implement this in a project I need to run on older, low-specced devices.

Using Camera2 kills the live preview performance. If I force use the legacy camera API performance is great except the image is flipped 180°, not a huge issue, I can always flip the output around. However the QR code detection does not work for me using the legacy API.

![screenshot_

[2018-09-19 22:53] rmtmckenzie commented on #28
That's weird it's flipped... assuming you mean rotated 180? I guess I might have made a mistake accounting for the orientation of the camera compared to the device (some of them have the camera module upside down to fit better), so I'll have to look into that.

The speed issue is something I've been meaning to look into and is because of formats that Camera2 supports (or rather those that it doesn

[2018-09-20 00:06] allanwolski commented on #28
it would be nice to have some progress with that.

related
https://github.com/flutter/flutter/issues/19274

[2018-09-25 01:21] felpsio opened #41 "Suggestion: Change the camera"
I'm using the plugin in a tablet and by default it opens the front camera. I would like to use the back camera y default and have the possibility to change during runtime the camera that is being used.

[2018-09-28 04:15] Hayarobee commented on #40
I use a TabView widget.
Unfortunately, now I am working a different part,
so if I will find the same problem again then let you know.
thanks.

[2018-09-28 07:34] rmtmckenzie commented on #41
it should use the back camera by default. Which device are you using, and which version of android?

[2018-09-28 07:58] rmtmckenzie commented on #39
That's probably to do with how it's compiled, and i'm not sure how easy it will be to do something about that. Basically, when you make a plugin it can either be linked dynamically or statically. When I tried doing it dynamically there were all sorts of problems, so I switched to using static linking.  If i remember correctly, the main problem was that because of the way cocoapods works, the main

[2018-09-28 08:07] LiveRock commented on #39
Thank you for responding. I am stuck with this problem for 3 weeks now. I tried everything I could by googling. The issue was posted in other threads too:
https://github.com/flutter/flutter/issues/22020
https://stackoverflow.com/questions/52131842/duplicate-symbols-for-architecture-x86-64-for-googlesignin-and-googlemobilevisio?noredirect=1&lq=1

Alas, I still could not get it to work and I must sa

[2018-09-28 08:08] LiveRock commented on #39
There is this file podfile.lock. Every time I do an ios build, googlesignin version reverts to 4.2.0
Do you know where can I edit to change it to 4.1.2?

[2018-09-28 08:11] rmtmckenzie commented on #20
So I looked into this a bit more. It would make the implementation a bit easier, but unfortunately necessitates both including the core firebase libraries and more importantly signing the app up for a firebase account.

As much as using the updated library would probably be a good idea, and I'm guessing quite a few people use firebase for other reasons anyways, switching means that a good percenta

[2018-09-28 08:27] rmtmckenzie commented on #28
I've made some changes to how the camera2 version of this works. I've tested on the devices I have and they seem to have much improved performance. If you could test it out and let me know if it works better for you that would be much appreciated @allanwolski, @tzinmein, @Galahand, @PoolsideKelbi

[2018-09-28 08:27] rmtmckenzie commented on #30
I've changed the way that it does autofocus with the camera2 api. Could you test whether it works better now?

[2018-09-28 08:29] rmtmckenzie commented on #35
I've removed that particular log message. Frames do still get dropped from the processing queue, but it shouldn't tell you about it any more, and realistically the qr detection doesn't need to run every single frame to still seem pretty performant - it's more important that the preview looks smooth.

[2018-09-28 08:30] rmtmckenzie commented on #36
In the newest version I've removed the debug statement completely. I should probably put something in at some point but enough people are annoyed by it that it doesn't seem important to keep it any more.

[2018-09-28 08:30] #36 closed

[2018-09-28 08:30] #35 closed

[2018-09-28 08:31] rmtmckenzie commented on #38
The newest version of the app does autofocus differently. Can you test whether it works better now?

[2018-09-28 08:33] rmtmckenzie commented on #41
I did do a few small changes in the newest version, so if you could check whether you're still seeing the same problem I'd appreciate it.

[2018-09-28 12:47] rmtmckenzie commented on #39
You don't want to modify the podfile.lock; that simply records which version has been used. As you've noticed, every time flutter does a build it'll reset that.

Try setting it in your Podfile instead. Add this somewhere in the target:

`pod 'GoogleSignIn', '~> 4.1.2'`

Podspec files don't specify a version, so if you don't explicitly specify it in your Podfile it will choose the most recent.

Hop

[2018-09-28 14:46] Galahand commented on #28
I tested on SM G935F and there is no lag now

[2018-09-28 22:07] tzinmein commented on #28
Seems like it works great on the Lenovo A2010 I've been testing on, thank you.

[2018-09-28 23:35] allanwolski commented on #28
You did a great job! There is no lag now, but the focus is still a problem.

Do we have to configure autofocus?
It would be interesting an option to activate the flash too.

[2018-09-28 23:37] allanwolski commented on #30
the focus is still a problem here.

[2018-09-29 03:17] LiveRock commented on #39
Hi Morgan
Thank you for your reply. As mentioned, I have experience with simple Pod file but the flutter pod file is not so straightforward, so I think I can just add the line

`pod 'GoogleSignIn', '~> 4.1.2'`

Or, can I?
The Pod file is:

[code]

[2018-09-29 14:52] MikeSWelch commented on #30
I have the same problem with autofocus.

I found the solution is to comment out the following lines in QrCameraC2.java:

Lines 194 and 195:
[code]

I have tested this with the Galaxy S6, the Galaxy S8, and the Pixel 2.

[2018-09-30 15:35] makkasbed opened #43 "QrCamera"
I installed your plugin. However, i get the message; the method QrCamera is not defined eventhough i have imported the package.
Kindly assist.

[2018-09-30 16:06] makkasbed commented on #43
I have solved it. I imported this: import 'package:qr_mobile_vision/qr_mobile_vision.dart'; instead of import 'package:qr_mobile_vision/qr_camera.dart';

[2018-09-30 22:56] felipecesar42 commented on #41
Sorry, the problem was informed wrong. I was testing the tablet problem through a client and I miss understood his feedback. The plugin opens the front camera in tablet and I had to change the native code to open the back camera for my case.

But, stills the suggestion to provide a button or a function that can switch the camera that is being used :)

[2018-09-30 23:10] #43 closed

[2018-09-30 23:13] rmtmckenzie commented on #30
I think that's the old version of the app @MikeSWelch - I try to use continuous autofocus instead if it's available. Could you test whether that works better for you now with version 0.1.0? And @allanwolski which device are you seeing the problem on?

[2018-09-30 23:14] rmtmckenzie commented on #28
I'll close this item as it's resolved now. The focus I'll look into when I get a chance. And if you'd like flash, could you add that as an issue? When I get time I'll look into including it.

[2018-09-30 23:14] #28 closed

[2018-09-30 23:14] #7 closed

[2018-10-01 03:13] MikeSWelch commented on #30
I was still using the git repo to pull your plugin.  I switched to qr_mobile_vision: "^0.1.0" and now everything is working fine, thanks so much for all your hard work!

[2018-10-01 03:41] LiveRock commented on #39
Finally, I was able to build ios by modifying the file

`google_sign_in.podspec`

tucked in the following directory

`s.dependency 'GoogleSignIn', '~> 4.1.2'`

[2018-10-01 11:33] allanwolski commented on #30
I tested this with the Galaxy S5.

[2018-10-02 21:36] MggMuggins opened #44 "Reading Binary Data"
So I'm working on a Point of Sale app doing barcode scanning. I'm using datamatrix to store an md5 sum of an item name, and my app stores all the item names and their prices in a json file. When I scan a barcode, I'll compare the data I get out of the barcode with the md5 sum of all the item names to figure out which price+name combination is the right one. There's probably a better way to do that

[2018-10-02 22:02] rmtmckenzie commented on #44
Hmm. That's not an easy problem as the Mobile Vision library only returns a string. See this: https://github.com/googlesamples/android-vision/issues/156. Not only that, it seems to return the string "Unknown encoding" rather than throwing an error about it which is why you're seeing different bytes coming out of whatever you're doing. Not ideal... I'll make an issue to put something in that throws

[2018-10-02 22:37] rmtmckenzie opened #45 "Crash on devices older than lollipop"
I'm adding this here to track it and so that anyone else who runs across it sees.

If you get an error `java.lang.NoSuchMethodError: android.graphics.SurfaceTexture.setOnFrameAvailableListener` it's because of this:
https://github.com/flutter/flutter/issues/21730

[2018-10-02 22:45] rmtmckenzie opened #46 "Add check for unrecognized format."
Seems to return `Unknown encoding` rather than an error when binary encoded data is returned i.e. ![out](https://user-images.githubusercontent.com/16041213/46378250-a0b24d80-c660-11e8-94f4-3c72e1489345.png)

Should add a check for this and throw an error of some sort.

[2018-10-05 13:40] leisim opened #47 "Preview stops when coming back from another screen"
Hi,

This library is great! You saved me a lot of time.

The only problem is, when I move to the next screen with `Navigator.push()` and come back with `Navigator.pop()`, the preview and scanner stop working :/

[2018-10-09 12:20] samigimix opened #48 "Camera has error on android but iOS is working & New example didn't gradle"
Camera is working on iOS very well, but on **android** after camera opening, console print too much warnings and errors and didn't recognize any barcode. I searched in the internet and checked all solutions but it didn't work. Also your new update of **example** works on iOS but in android it has error in initializing **gradle**.

**It's gradle errors and warnings :**

Exit code 1 from: /Users/sam

[2018-10-09 18:27] rmtmckenzie commented on #48
That's weird. Do you have a recently updated version of play services on the android phone? Sometimes there can be problems with older versions.

[2018-10-11 09:05] NMateu commented on #38
Hi, have a similar problem on Sony Xperia XZ2 using

outputs:
[code]

[2018-10-11 11:32] samigimix commented on #48
**I have the latest version of play services and flutter, I deleted zip file and run again, errors changed to :**

* Error running Gradle:
Exit code 1 from: /Users/saman/Downloads/flutter_qr_mobile_vision-master/example/android/gradlew app:properties:
Starting a Gradle Daemon (subsequent builds will be faster)
FAILURE: Build failed with an exception.
* What went wrong:
A problem occurred configuri

[2018-10-11 12:35] MrNickBarker commented on #30
I had autofocus issues while testing on a Lexus Nexus 5X on Android 7.2.1.  I fixed it by replacing
[code]
with
[code]
or
[code]

[2018-10-15 08:58] samigimix commented on #48
I run your example project on another system and it worked ! Maybe my flutter system files have some problems and I should reinstall flutter. Also the APK of my app ruined on another android phone but in my phone it doesn't ! I recommend to **reinstall flutter** files and test on **another phone**.

[2018-10-15 08:58] #48 closed

[2018-10-18 13:20] samigimix commented on #48
How to dispose the camera ? I have a TabBar and I have a QrCamera in both tabs, when I taped the second tab, app crashed because the camera still is open on first tab. What's the solution ? @rmtmckenzie

[2018-10-23 08:10] hariprasadiit commented on #41
i think it'd be nice to provide option to switch between front and back cameras as in some use cases QR scanner needs to use front camera.

[2018-10-28 03:15] salmanDevj commented on #45
I am getting the same error. I am new to dart and flutter, how to solve this issue?

[2018-10-28 15:00] rmtmckenzie commented on #45
The fix had been merged into flutter's master so it should show up soon, but that depends a bit on their beta release schedule.

I'm fairly sure it's already been included in the `dev` branch though so you could switch to that by running`flutter channel dev` then `flutter upgrade`.

[2018-10-28 15:06] #45 closed

[2018-11-09 14:08] krolaw opened #49 "No autofocus on Xiaomi A2 (Android One)"
Android System 8.1.0 - 5 November 2018.

Not sure if it matters, but this unit has two rear cameras.

Launching lib/main.dart on Mi A2 in debug mode...
Initializing gradle...
Resolving dependencies...
Gradle task 'assembleDebug'...
Built build/app/outputs/apk/debug/app-debug.apk.
Installing build/app/outputs/apk/app.apk...
Syncing files to device Mi A2...
I/cgr.qrmv.QrReader(32402): Using new came

[2018-11-10 00:40] krolaw commented on #49
camera 0.2.4 by the flutter team has no issue (although requires a higher SDK version and doesn't detect barcodes). Would it be worth incorporating that library?

[2018-11-13 18:50] Alekcei commented on #49
I have the same problem.
How fix it?

[2018-11-13 18:57] rmtmckenzie commented on #49
Unfortunately because of the way the native stuff works, there's no way to 'incorporate' the other library. All of the processing of frames needs to happen in a performant way in native code.

I'll try to find some time to look into what the camera plugin does for autofocus and see if I can replicate it; I think at some point I had done the same as they do and it worked for some phones but not for

[2018-11-13 21:18] mskrip opened #50 "OutOfMemoryException on Oneplus 6"
When running (even example) app on Oneplus 6 android 9 (OxygenOS 9.0.2) and starting the camera (doesn't have to be reading codes) it begins to lag a lot and eventually just kills the app.

`flutter doctor`:

[code]

Log:

[code]

[2018-11-13 22:44] rmtmckenzie commented on #50
Interesting. How long does it take before it crashes - is this pretty instant or after a few seconds?

It sounds like the heap is pretty limited space-wise (not that 256 mb is small, but not huge nowadays either), but that shouldn't be an issue unless it's allocating camera frames much faster than it can deal with them.

It should be able to ignore extra frames anyways but something must be going

[2018-11-13 23:11] mskrip commented on #50
On my app the camera on fullscreen basically, that takes around 10 frames to crash. On example app it takes a few seconds.

The images it produces are basically 4K so that can add up pretty fast. It certainly seems like the buffers for camera frames are being created much faster than the GC can free up the heap.

By looking at source the extra frames are only being skipped if the task for followin

[2018-11-17 02:22] salmanDevj opened #51 "flutter: flutter_qr_mobile_vission not working scanning any type of barcode"
I tried to run and test the plugin project on Samsung Note 2 and app open the camera without any issues howvever, it is not able to read to any barcode.

flutter doctor:
C:\Users\Javed\myapp>flutter doctor -v
[√] Flutter (Channel master, v0.11.7-pre.34, on Microsoft Windows [Version 10.0.17134.345], locale en-US)
    • Flutter version 0.11.7-pre.34 at C:\flutter
    • Framework revision 988bfc166d

[2018-11-17 20:02] ghost opened #52 "Duplicate symbol in GoogleMobileVision and GoogleSignin"
[code]

I know this is not your issue, but wondering if you know of a workaround
______________________________________________
UPDATE: one workaround is to

[code]
And change the deploment target in XCode to 9.0
______________________________________________

Now that that is running, I'm getting black picture in QRCamera frame.  Sigh.

[2018-11-20 14:44] mondospaceman opened #53 "Example failing on iPhone7"
Create a new flutter project using example as main.dart.  Getting only black screen.

However, running example in your plug-in project works.  I'm assuming it's an invalid programmer at keyboard error, but is there additional set up I need to do?  Any clues?

Using pubspec.yaml:
[code]

[2018-11-20 18:41] rmtmckenzie commented on #51
That means that the version of play services you have isn't being able to load up the qr analyzing libraries. Try updating to the most recent of play services and making sure you have a good internet connection - the first time you open the camera your phone downloads the required libraries to do the scanning (com.googl.android.gms.vision.dynamite.barcode:0). Unfortunately, there's not a whole lot

[2018-11-20 18:41] #51 closed

[2018-11-20 18:46] rmtmckenzie commented on #53
That should be enough to get it going, so I'm not really sure what's going on. You've copied https://github.com/rmtmckenzie/flutter_qr_mobile_vision/blob/master/example/lib/main.dart exactly, and run `flutter packages get`?

The only other things I can think of are running `pod install` in the `ios` folder, or opening the xcode project and running from there.

[2018-11-20 18:57] rmtmckenzie commented on #52
Hmmm. Yeah that seems to be a problem that lots of people are seeing who try to use google sign in and google mobile vision. Unfortunate that google hasn't resolved it, although I'd bet that their current answer to that would be to recommend switching to firebase's mlkit as google mobile vision has been more or less deprecated.

[2018-11-20 19:00] rmtmckenzie commented on #51
BTW you can try adding this to your android manifest as should make the library download at install time rather than when the app first runs the qr scanner.

        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <meta-data android:name="com.google.android.gms.vision.DEPENDENCIES" android:value="barcode"/>

[2018-11-20 19:30] rmtmckenzie commented on #53
I just realized what the problem is. You need to set a particular string in the ios/Runner/info.plist stating what you're going to use the camera for, otherwise iOS fails pretty much silently when you try to use the camera API. It should have been returning some sort of platform exception, although when I tried it it didn't the first time. If I tried opening and closing the camera a few times it s

[2018-11-20 19:32] rmtmckenzie commented on #53
I'm going to leave this issue open as a TODO for myself (and I've changed the title). I need to at the last document this in the README for this repo, or return a better error (or possibly even check the info.plist myself and fail earlier).

[2018-11-20 19:41] mondospaceman commented on #53
Very excellent.  I'll do that.

On Tue, Nov 20, 2018 at 11:30 AM Morgan <notifications@github.com> wrote:

[2018-11-23 02:13] AmandaMML opened #54 "QR Camera crashes on XiaoMi Note 1. SDK Version: 4.4.4 API level of 19"
This is where I place my QrCamera, I've stated the box size. I've tested on another phone which has higher API level, it works.

Center _qrReader = new Center(
      child: new SizedBox(
        child: new QrCamera(
          onError: (context, error) => Text(
            error.toString(),
            style: TextStyle(color: Colors.red),
          ),
          qrCodeCallback: (code) {

[2018-11-23 02:17] rmtmckenzie commented on #54
Could you include the crash log? If you run through flutter, you might not get the full android log so try running the android part directly (i.e. open up the android/build.gradle in android studio).

[2018-11-23 02:53] AmandaMML commented on #54
Thank you for your reply. Is this the log you are referring? This is what I've got after running.

11-23 10:51:53.640 367-367/? E/QCALOG: [MessageQ] ProcessNewMessage: [XT-CS] unknown deliver target [OS-Agent]
11-23 10:51:53.670 367-367/? E/QCALOG: [MessageQ] ProcessNewMessage: [XTWiFi-PE] unknown deliver target [OS-Agent]
11-23 10:51:53.670 367-367/? E/QCALOG: [MessageQ] ProcessNewMessage: [XTWWA

[2018-11-23 02:55] AmandaMML commented on #54
And then this is from the console.

[2018-11-23 06:51] rmtmckenzie commented on #54
Ah that's the one =) this is the problem

```java.lang.NoSuchMethodError: android.graphics.SurfaceTexture.setOnFrameAvailableListener```

That's an issue with flutter itself though, and has been fixed for about a month. See #45.

[2018-11-23 06:51] #54 closed

[2018-11-23 06:55] AmandaMML commented on #54
Thank you so much! :D

[2018-12-05 14:57] rmtmckenzie commented on #50
Sorry - I've been slammed at work the last little while and I just haven't had a chance to look at this. I'm hoping I'll get a chance either later this week or this weekend. I have an essential phone so I'll be able to test it on that - hopefully it has the same behaviour.

[2018-12-05 15:08] KieranSteyn commented on #50
It's affecting some huawei phones too. I've looked at the source and I agree with @mskrip that the GC just can't keep up if the image resolution is too high.

[2018-12-05 15:38] rmtmckenzie commented on #50
That's fair. It currently tries to pick a resolution based on the size of the widget on the screen and if that's higher it chooses a higher resolution, but that should probably be configurable. TBH I need to do a refactor for a couple of reasons so I'll try to schedule that in as well.

[2018-12-06 17:16] HectorV12 opened #55 "Add ability to scan once instead of multiple times"
Great Work on this package! very helpful, thanks.
I have this issue,
I have this :
[code]
and it builds too many pages.
Also, is there a specific example on how to work with the QrCameraState as the GlobalKey? a bit confused on that part.

[2018-12-06 17:31] rmtmckenzie commented on #55
I'm eventually going to do a refactor to split the logic of the view and the controller, and when I do I'll probably put in an option to stop after the first item.

But for now you're probably better off just using a member variable and setting it to true once you've scanned the item, then ignoring it in the callback.

Note that you don't have to do setState as you're not changing anything that af

[2018-12-06 17:33] rmtmckenzie commented on #55
I'll keep this issue open for now as a reminder for when I do the refactoring.

[2018-12-06 17:55] HectorV12 commented on #55
Appreciate the help, thanks again!

[2018-12-10 07:18] KieranSteyn commented on #50
Did some testing over the weekend and it crashes only when the raw YUV image is included in the previewBuilder target list (QrCameraC2.java line 201). Dropping the resolution didn't fix the issue but it did take longer for the crash to happen.

[2018-12-10 13:11] d-mh opened #56 "Camera FPS too low - iPhone 5s"
First of all - big thanks for this plugin!

I have a problem with camera fps on iPhone 5s - it is not smooth, its working very slow.

I set barcode type only to QR_CODE - its a little better, but still not usable.

On my old Android Samsung S4 (i9505) its working nice and smooth. Do you know what could be done to optimise it?

[2018-12-14 04:08] ikwijaya commented on #50
any update
??

[2018-12-14 17:15] rmtmckenzie commented on #50
Sorry I've been slammed at work putting in 80+ hours for the last few weeks, and I really haven't had time to think about this. PR's are always welcome though

[2018-12-20 01:03] HectorV12 commented on #55
Thanks for your help again !
Maybe you can help with this issue, possibly related to this package:
So the package worked the way I want it to but when I added an unpublished package for the flashlight, turning on the flashlight freezes the QrCamera.

Unpublished package:
[torch.zip](https://github.com/rmtmckenzie/flutter_qr_mobile_vision/files/2697017/torch.zip)

error:
[code]

and if I added `qrC

[2018-12-20 06:30] rmtmckenzie opened #57 "Turn flashlight on and off"
Since the flashlight can't be manipulated externally it would be good to be able to turn it on with this plugin while the camera is active.

[2018-12-21 07:30] cemsozens opened #58 "Cant add element to list in qrcodecallback"
Inside the qrcodecallback I try to add new elements to list and then start a new widget by giving this list as parameter. What happens is that as the new widget starts the list looks empty when it is not in debug mode. Everything works fine in debug mode and I can't understand why. Here is my code:
qrCodeCallback: (code) {
                      setState(() {
                        qr = code;

[2018-12-21 08:01] #58 closed

[2018-12-21 08:02] cemsozens commented on #58
It turns out the _itemsRef.once().then() caused this issue. Sorry for interrrupting

[2019-01-18 16:21] Nielsticot opened #59 "Crash when user decline camera permission on Android"
Hello,

I'm testing with a Google Pixel 2 on android 9,

Each time I decline the camera permission, the onError parameter of QrCamera is not called, instead, it throws an exception.

I tested it on your provided example and it reacted exactly the same way.

Here is the console log :
-

[2019-02-01 08:12] gumenza01 opened #61 "black screen on oppo find 7a"
E/CameraDevice-0-LE(21927): Surface with size (w=800, h=600) and format 0x23 is not valid, size not in valid set: [1440x1080, 1280x960, 1280x720, 864x480, 800x480, 720x480, 640x480, 576x432, 480x320, 384x288, 352x288, 320x240, 240x160, 176x144]
W/CameraDevice-JV-0(21927): Stream configuration failed
E/CameraCaptureSession(21927): Session 0: Failed to create capture session; configuration failed
I/

[2019-02-07 04:31] mingchen opened #62 "lint errors"
Run `./gradlew lint` and got following errors:

[code]

[2019-02-15 11:09] vleeuwenmenno commented on #50
OnePlus 6T has the same issues... I will take a look at it as so far this is the only QR scanner that worked for me. (Tested on a S7)

[2019-02-15 16:59] gimox opened #64 "ios error on Navigator pop"
App crash on Navigator.pop on ios. (real device)

Steps:
- Basic app with 2 screen.
- first screen home
- secondo screen Qr
- on second screen qr is working but after navigation pop, app crash without error.

[2019-02-20 01:03] rmtmckenzie commented on #64
Are you sure there's no error, or just not one on the flutter console? If you can't see anything there or if you run directly from XCode, could you try [finding the application crash log](https://www.raywenderlich.com/2805-demystifying-ios-application-crash-logs)?

If you still don't see anything could you maybe post (a stripped down selection of) your code so that I can easily try to reproduce th

[2019-02-21 13:35] Lima-Roberto commented on #50
Same error on CAT S41, it works fine on SAMSUNG J4
Please help me, this is the only QR plugin that worked for our project.

`I/BufferQueue( 4762): [unnamed-4762-0](this:0x79dfe8f800,id:0,api:0,p:-1,c:-1) BufferQueue core=(4762:br.com.zenatur.operacionalapp)
I/BufferQueueConsumer( 4762): [unnamed-4762-0](this:0x79dfe8f800,id:0,api:0,p:-1,c:4762) connect(C): consumer=(4762:br.com.zenatur.operacional

[2019-02-23 15:23] alphamikle opened #67 "Add AndroidX Support"
Please, change android.support libraries to its analogs from androidx library:
For build project with this depency i changed:
In QrCameraC2.java
android.support.annotation.NonNull -> androidx.annotation.NonNull
in QrMobileVisionPlugin.java
android.support.v4.app.ActivityCompat -> androidx.core.app.ActivityCompat
After that project build correct

[2019-02-23 19:15] rmtmckenzie commented on #67
Hi! This is definitely on my list of stuff to do. I'm really hoping to get an update out soon with a whole bunch of changes including but I'm not 100% sure when I'll get to it. If I don't manage in the next couple days I'll try to push an update out for this specific issue....

[2019-02-23 19:25] alphamikle commented on #67
Thanks for it! Your lib is very good!

[2019-02-23 19:25] #67 closed

[2019-02-26 08:00] Errichamonda commented on #50
I have a OnePlus 6 and I have the same issue but only with version 0.1.0. I think it's the image coded that causes the problem, I've tried changing the coded to JPEG and it doesn't lag anymore but it doesn't scan qrcode now.
I've tried rollback to 0.0.7 and it's working fine, but on older device it lags beyond reality because I think it's doing too much work.

[2019-02-26 08:24] gedw99 opened #68 "FIDO2"
i have a FIDO2 hardware device that i want to use with this lib.

Does it support FIDO2 yet ?

I can help

[2019-02-26 15:47] jaumard commented on #64
Same here, here is what I manage to find with Xcode but it wasn't really chatty :/
[code]

<img width="1401" alt="capture d ecran 2019-02-26 a 16 34 41" src="https://user-images.githubusercontent.com/2970449/53425802-04f5f500-39e6-11e9-90e7-a8323e42fd6d.png">
<img width="1515" alt="capture d ecran 2019-02-26 a 16 46 23" src="https://user-images.githubusercontent.com/2970449/53425850-19d28880-39e6-

[2019-02-26 15:49] rmtmckenzie commented on #68
That's very much outside the scope of this plugin - it isn't meant directly for FIDO2 but instead a general QR scanner for all sorts of purposes.

If you're interested in working on FIDO2 hardware support you'd be better off making a separate plugin, which could theoretically use this as a dependency (although it would make more sense to me to have two completely separate plugins and do the choice

[2019-02-26 15:49] #68 closed

[2019-02-26 16:19] gimox commented on #64
i got no errors on android studio, and same error with xcode debug.
It's a very simple project basically the example with two page view.

[2019-02-26 16:39] jaumard commented on #56
Did you try in release mode ? Of course debug mode is slow and laggy (it's a general point on flutter apps) but normally it should be ok on release mode

[2019-02-27 12:08] jaumard opened #69 "Migration to Android X"
All flutter packages has moved to Android X and this one is causing warnings (maybe errors not sure...)

[2019-02-27 13:29] jaumard commented on #69
I can confirm that it totally prevent people to migrate to androidX :( doesn't compile anymore

[2019-03-04 11:35] jaumard commented on #69
Hey @rmtmckenzie are you still maintaining this repo ?

[2019-03-04 16:45] rmtmckenzie commented on #69
Hi @jaumard sort of =D I've just been really busy, followed by getting really sick, and moving twice in the last little while. I don't know that I'll get to it today but I need to do some updates and look through PR's for the repo either today or tomorrow.

[2019-03-04 17:17] #69 closed

[2019-03-04 17:32] jaumard commented on #69
Thanks for the reply @rmtmckenzie hope you feeling better now ! I'm asking this because I'm using your library at work, and some issues are blocking us like this one (thanks for the merge !) and the #64 I don't mind trying to fix it but I need to be sure I'll not doing it for nothing ^^ or it will be better to search another library to replace this one.

If you need help maintaining the repo I don

[2019-03-04 18:43] rmtmckenzie commented on #69
Thanks, I appreciate the offer and I'll try to do better with PRs and whatnot so if there's anything you'd like to look into go for it =). But I'm just merging all the changes and I'll publish an updated version today, I've decided to spend a couple hours this morning and get some of the issues people are seeing sorted out.  I've merged the PRs that make sense to merge right now and I'll look into

[2019-03-04 18:44] rmtmckenzie commented on #69
And I'm feeling a lot better than I was, although still not 100%!

[2019-03-04 20:30] BastienFerbu opened #71 "Wrong type since the last flutter version"
Hello, since the new version of flutter,

Or in the [changelog v1.0.0](https://github.com/flutter/flutter/wiki/Changelog)

So I have an error when I start my app now.
[code]

[2019-03-05 02:05] rmtmckenzie commented on #71
Sorry but that's not anything to do with this plugin. I believe if you upgrade qr_flutter to ^2.0.0 it should solve your issue.

[2019-03-05 02:05] #71 closed

[2019-03-05 02:06] rmtmckenzie commented on #64
I spent a little time on this today but I have to admit that I'm slightly flummoxed. I'm hoping it isn't something to do with Texture - I might try to give that a test when I have time. It doesn't seem to be anything I'm doing directly but rather something internal to flutter that's going wrong.

@jaumard or @gimox if either of you have time to look into this I'd appreciate it =).

[2019-03-05 02:11] rmtmckenzie commented on #49
@Alekcei someone made a PR that apparently helps on a Redmi phone (#60). Can you upgrade to 0.2.0 and see if that helps you as well?

[2019-03-05 07:29] jaumard commented on #64
Thanks for checking this ! I'm afraid it's something going on with the texture :/ but wasn't able to get a clear stacktrace. One way I'm able to push and pop on top of the scanner is by using this:

[code]
With that I have no crash ! But I can't use this for all the routes available as I have a navigation drawer and few other way to go on other routes :/ just using this hack to push a route when a

[2019-03-05 07:56] zain3ie commented on #50
Same issue for Sony Xperia X performance for version 0.1.0.

Working fine with version 0.0.7 like @Errichamonda said.

[2019-03-05 08:42] gimox commented on #64
@jaumard  thanks!!! it's a little dirty but it's good for now.

[2019-03-05 18:22] rmtmckenzie commented on #64
Hmm. okay well that gives me somewhere to start at least, thanks @jaumard. I'll look into whether the texture is sized funny for a couple frames or something as that could possibly be a cause... But TBH the refactor I've been working on might also make this easier...

[2019-03-05 18:49] jaumard commented on #64
I've tried to search a fix for this issue but to be honest I have no idea what's going on :( but between this crash and #31 it's hard to publish our app (should be end of the month normally for iOS, later for Android).

I also have tried to call `stop` before pushing the new route but it still crash...

How far are you with your refactoring @rmtmckenzie ? How could it prevent this ? If you're usin

[2019-03-05 21:40] rmtmckenzie commented on #50
I've published a new version 0.2.1 that will hopefully fix the issue - would anyone mind trying it? Before it was allocating buffers and copying out the image each and every frame whereas now it re-uses two buffers.

[2019-03-06 00:13] rmtmckenzie commented on #64
Well TBH the refactor might not even help with this that much - it's more about selecting resolutions & camera, turning flashlight on/off, etc (although it would also make it easier to stop and start the camera).

If it's something to do with texture I might need to figure out some way of checking whether the texture is currently being displayed by doing something funky in the render stack, and hi

[2019-03-06 00:20] rmtmckenzie commented on #62
Should be gone in the most recent version. That file actually wasn't being used at all.

[2019-03-06 00:20] #62 closed

[2019-03-06 00:21] rmtmckenzie commented on #49
I'm going to close this, please re-open if you still see the issue.

[2019-03-06 00:21] #49 closed

[2019-03-06 00:21] rmtmckenzie commented on #50
I'm going to close this, please re-open if you still see the issue.

[2019-03-06 00:21] #50 closed

[2019-03-06 00:23] rmtmckenzie commented on #30
A few people have reported that it is working for them now (and I've made a few subsequent changes). So I'm going to close this for now - please re-open it if you're still see the issue.

[2019-03-06 00:23] #30 closed

[2019-03-06 00:24] rmtmckenzie commented on #15
I'm going to close this as it's pretty old now. If you're still using the plugin, please test it with the most recent version and reopen this is you're still seeing issues.

[2019-03-06 00:24] #15 closed

[2019-03-06 00:37] smoooochy opened #72 "Issue with AndroidX"
Hi,
I have a problem compiling the newest version with a new flutter project that was set up for AndroidX

these are the errors I am getting:

`E:\flutter\.pub-cache\hosted\pub.dartlang.org\qr_mobile_vision-0.2.2\android\src\main\java\com\github\rmtmckenzie\qrmobilevision\QrCameraC2.java:27: error: cannot find symbol
import androidx.annotation.NonNull;
                          ^
  symbol:   class

[2019-03-06 00:39] rmtmckenzie commented on #72
Hmmm. Can you confirm that you have
[code]
set in your gradle.properties file?

[2019-03-06 00:42] smoooochy commented on #72
Oh well, I tried to migrate via Android Studio. The documentation on android.com was not clear on that those two flags are required. Thanks that solved it! And such a quick reply :+1:

[2019-03-06 00:42] #72 closed

[2019-03-06 00:44] rmtmckenzie commented on #72
=) android studio should have set those as part of the refactor, but glad I could help

[2019-03-06 07:29] jaumard commented on #64
Ha ha good idea the camera plugin but I've tried just now and it's not reproducible with their plugin, also on the same device there is a significant difference of performance, with the camera plugin there is no lag but with this one there is. I know that on this plugin the image is analyzed to search for barcode but it shouldn't impact the preview, should be done on another thread IMHO (didn't ta

[2019-03-06 08:05] vleeuwenmenno commented on #50
I'll give it a try now.
Once I tested it I'll post the results here 👍

[2019-03-06 08:42] Errichamonda commented on #50
The lag is gone, but I can't get read any QRCode.

[2019-03-06 10:13] vleeuwenmenno commented on #50
Yep Same for me @Errichamonda I tested it on a OnePlus 6T OOS 9.0.7
No lag, but no QR decode either.
Spams error: ```E/libc    (30261): Access denied finding property "vendor.debug.egl.swapinterval"```

[2019-03-06 10:19] Errichamonda commented on #50
The Access denied finding property "vendor.debug.egl.swapinterval" warning is a OnePlus problem, not related to Flutter or programming in general.

[2019-03-06 16:22] rmtmckenzie commented on #64
Hmm I thought I did the analysis on a BG thread in both android and iOS but I actually do it on the main thread in iOS with a //todo to fix it =D. Oops haha.

On android at least the analysis is actually done on a different thread. The issue there is that the camera needs to produce two different 'preview' images for each frame since the texture and the analyzer need two different types of image (

[2019-03-06 16:23] rmtmckenzie opened #73 "Move image processing to background thread on iOS"
Turns out the image processing is done on the main thread but probably shouldn't be.

[2019-03-06 16:36] rmtmckenzie commented on #50
That's very odd. I didn't test it on android 9 so I'll just confirm it works there, but this does seem to be more OnePlus-specific than android version specific... which makes it significantly harder for me to diagnose and test since I don't have one =D. One thing you could try is clearing your Google Play Services's cache, although that's obviously not ideal for end-users....

[2019-03-06 16:37] rmtmckenzie commented on #50
Tested on my essential phone, works fine there. Hmmm, guess it's possible that the background thread is being queued but never (or at least very seldomly) run which could explain why it wouldn't be able to read QRs.

[2019-03-06 19:11] rmtmckenzie commented on #50
Could someone seeing this problem try out the `oneplus-not-scanning` branch and report back whether you're seeing processing log messages that look like
[code]

The easiest way to try it add this to your pubspec:

[code]
Thanks =)

[2019-03-07 05:25] Alekcei commented on #49
Ok, i will check

[2019-03-08 08:45] Errichamonda commented on #50
Hi, I've tried with this different branch but in the logging there are no Processing frame row.

[2019-03-09 09:55] Alekcei commented on #49
0.2.0 don't work
[code]

[2019-03-13 04:50] andershansson opened #75 "Android example not working"
I noticed that the scanner doesn't seem to work on Android (at least my Android device). It seems to be working on iOS though.

Here are the interesting parts of the log. Using the latest version from `master`.

[code]

[2019-03-13 07:01] rmtmckenzie commented on #75
Do you have a relatively recent version of Google Play services installed? And you probably need an internet connection too as it needs to download some stuff to do the QR processing.

[2019-03-13 07:06] andershansson commented on #75
I was just investigating this. Internet connection is enabled (I connect to an online server successfully from within the app).
The Google Play services version is 15.0.90 (110304-231259764)

My main concern is to determine if I should go forward having a dependency on Google Play Services if I aim at a broader consumer market. There would be no practical way to ensure all targets have an updated

[2019-03-13 16:20] rmtmckenzie commented on #75
That is a concern for sure. One thing I did to help with that is put this in the AndroidManifest.xml:
[code]
(although I'm still not 100% sure it works as it's supposed to - normally that would go in the application block of the main app's AndroidManifest... I should probably put that in the documentation =D).

What that does is trigger Play Services to install the barcode scanning dependencies as

[2019-03-13 19:35] andershansson commented on #75
Interesting, thanks, I will try this.

[2019-03-14 05:09] lunwhl opened #76 "'native_device_orientation/NativeDeviceOrientationPlugin.h' file not found on xcode"
I have implemented this package in my project and everything runs good with android until I wanted to deploy my flutter app into my iPhone.

I hit the error of 'native_device_orientation/NativeDeviceOrientationPlugin.h' file not found in xcode when I was trying to deploy to my iPhone which I think this file is needed for this package to run.

Any suggestion to fix this?

[2019-03-14 08:54] rmtmckenzie commented on #76
That's strange. Try running `pod install` in the ios directory of your build. And can you paste in the result of running `flutter doctor -v`?

[2019-03-15 02:28] lunwhl commented on #76
hi kenzie, thank for the quick reply.
The picture below are the result of flutter doctor -v.
<img width="579" alt="Screen Shot 2019-03-15 at 10 27 18 AM" src="https://user-images.githubusercontent.com/19488286/54404018-14c34800-470d-11e9-9cf9-e763e0ea8fb6.png">

[2019-03-15 03:57] lunwhl commented on #76
Just in case someone is facing the same issue as me.
The problem was mainly cause by the PodFile in /ios.

I have this issue resolved by follow the link below.
https://github.com/flutter/flutter/issues/16246#issuecomment-454306108

[2019-03-15 03:57] #76 closed

[2019-03-15 07:44] lunwhl opened #77 "Keep switching scan screen crash on iPhone 6"
Thank for the plugin.
I have deploy my app with the package in my iPhone 6.

When I keep switching from screen 1 to scan screen and scan screen to screen 1 then the app crash.

Seem like something heavy running in the background and running out of memory.

Any idea on this?

[2019-03-15 07:50] rmtmckenzie commented on #77
Yeah this has been reported by other users as well, see #64. I'll close this and update on that thread.  But unfortunately I haven't been able to figure out what's going on yet, although I haven't had that much time to spend on it. I'm hoping to fix it soon though...

[2019-03-15 07:50] #77 closed

[2019-03-15 10:57] gedw99 commented on #68
@rmtmckenzie thanks you right - separate plugin for fido2

[2019-03-18 16:10] itelixgithub commented on #75
had similar problem today - migrated to android x and plugin is working fine on Oreo 9.0

[2019-03-20 04:12] williamdias opened #78 "Flutter: Build ios error: OS version does not support use of thread local variables in l1877 for architecture x86_64 (iOS 8)"
Hi. I am not able to build my project for the iOS simulator after adding flutter_qr_mobile_vision if Deployment Target is set to iOS 8. I can only build it if iOS >= 9.

Running pod install...                                             10.4s

[2019-03-21 09:50] Alekcei commented on #49
i run your example. Auto Focuse  dont work on xiaomi redme 4x.

[2019-03-21 10:13] Alekcei commented on #49
https://github.com/rmtmckenzie/flutter_qr_mobile_vision/issues/30#issuecomment-425650853

[code]

[2019-03-21 10:15] Alekcei opened #79 "no Aotofocus on Xiaomi"
plese replace CONTROL_MODE_AUTO on CONTROL_AF_MODE_CONTINUOUS_VIDEO

[2019-03-21 10:25] Alekcei commented on #79
//            if (afMode != null) {
//                previewBuilder.set(CaptureRequest.CONTROL_AF_MODE, afMode);
//                Log.i(TAG, "Setting af mode to: " + afMode);
//                if (afMode == CONTROL_AF_MODE_AUTO) {
//                    previewBuilder.set(CaptureRequest.CONTROL_AF_TRIGGER, CaptureRequest.CONTROL_AF_TRIGGER_START);
//                } else {
//

[2019-03-25 09:46] coeneivan commented on #38
I'm still having this on my One plus one.
How can I fix it?
BTW: love I love this plugin!

[2019-03-31 15:06] DeMuu commented on #50
Hi, also tested on my OnePlus 6. (thanks for the crash fix btw 😄 )

There's basically a lot of "Access denied" logs which have been mentioned before by @vleeuwenmenno .

Other than that I'll list all the *QR* related logs here. FYI: I'm not sure if everything is relevant as I'm not an Android engineer:

[code]

And then the last line when I stopped scanning was this log

`I/cgr.qrmv.QrDetector(207

[2019-04-01 13:49] os20 opened #80 "Stop Camera inafter have an result"
How can I stop the camera after receiving the first result?

[2019-04-01 17:03] rmtmckenzie commented on #80
I'm still working on an update that will make this easier, but for now you can pass in a GlobalKey and use it to call CameraState's stop. See this comment another issue: https://github.com/rmtmckenzie/flutter_qr_mobile_vision/issues/55#issuecomment-444958997

[2019-04-01 17:03] #80 closed

[2019-04-05 11:46] shivamabhi opened #81 "how we can use flash"

[2019-04-05 11:50] shivamabhi commented on #81
i am using  Torch Package  for enabling the flashlight but when i enable the qrscan than flashlight is not work. how i can use flashlight........

[2019-04-05 16:20] miguelpruivo opened #82 "Not working on OPO 6T"
This doesn't seem to be working with OPO 6T. Other than that, I've not found any issues.

[2019-04-06 22:36] Afulton11 commented on #82
Yeah I'm having the same issue.
Works fine on my Google Pixel, but using a OnePlus 6T, a QR code is never read.

[2019-04-06 22:37] Afulton11 commented on #56
I tried in release mode on an iPhone 6 and the camera is still very slow and laggy. Although it can still scan a qr code relatively quickly.

[2019-04-08 07:22] ylmsolutionsltd opened #83 "Cant use flashlight when barcode scanner is opened"
Hi,

I've added the lamp package to the project.
When i try to activate Lamp.On inside he app it ends with faiulre.
When i remove the scanner it works fine.

Android 8, Samsung galaxy 7

[2019-04-08 09:56] miguelpruivo opened #84 "Camera inverts when device is rotated"
For some reason, whenever the device is rotated while the camera is opened, it does some weird invert in runtime. Looks like it is flipping for no reason.

To replicate it just open it with your device and rotate it while scanning.

[2019-04-08 16:26] rmtmckenzie commented on #84
The plugin does have camera rotation built in for if the device is rotated, but it should only do that if the actual app window rotates (i.e. if you have screen rotation turned off for your device, it shouldn't rotate the camera view by default). Without the rotation I perform, the actual camera view would be rotated wrong when the overall window rotates.

Could you tell me which device & OS versi

[2019-04-08 16:27] rmtmckenzie commented on #83
Duplicate of #57

[2019-04-08 16:27] #83 closed

[2019-04-08 16:27] rmtmckenzie commented on #81
Duplicate of #57

[2019-04-08 16:27] #81 closed

[2019-04-08 16:29] miguelpruivo commented on #84
Hi @rmtmckenzie. The app is set to work on portrait mode only (both in iOS and Android) and the camera still rotates.

Besides that, and even if the device orientation is locked (on the device's settings) it will rotate anyway. It's happening with all devices I've tested (some Android and some iPhone). Looks like a general issue.

[2019-04-08 16:32] rmtmckenzie commented on #57
Since more people have been seeing this, I'll try to address it soon. There has been a PR but I haven't had time to test it; if anyone who needs flash would be willing to give it a test on their devices and leave feedback here that would be much appreciated.

Add this to your pubspec to give it a try:
[code]

[2019-04-08 16:35] rmtmckenzie commented on #84
Hmm. That's weird. There were some updates to the rotation plugin that were supposed to make it able to work when rotation is disabled, but I thought that was turned off by default. I'll try to take a look at that soon.

[2019-04-08 16:42] miguelpruivo commented on #84
I don't know if you saw my edited answer @rmtmckenzie but it's only happening with iOS. Tested with an Android and it seems to be working fine.

[2019-04-09 19:47] kavin014 opened #85 "Wrong barcode data"
Using back camera to scan EAN_13 type barcode, occasionally gets random data as scanned.
Getting wrong data even there is no barcode visible to the camera.

How could I sort out this issue?
Using version 0.2.2

[2019-04-10 01:19] miguelpruivo commented on #84
@rmtmckenzie after further investigation I've found that the issue is actually coming from your other plugin (orientation), more specifically from [here](https://github.com/rmtmckenzie/flutter_native_device_orientation/blob/master/ios/Classes/OrientationListener.m#L40) where you are getting the device orientation instead of interface orientation. Here, if you use something like
[code]
you'd get th

[2019-04-10 07:32] ylmsolutionsltd opened #86 "App crash"
When i accept  SMS permission  the app crash on your scanner  which is not part of the widget screen?!
The scanner widget is initialzied after completing the sign up process and moving to another dart class,

E/AndroidRuntime( 5893): Process: il.co.ylm.inspector_native, PID: 5893
E/AndroidRuntime( 5893): java.lang.RuntimeException: Failure delivering result ResultInfo{who=@android:requestPermissio

[2019-04-11 17:48] c0h1b4 commented on #75
I am having this same issue with a simple device (Redmi Go). With a top of the line device (Pocophone) it works perfectly.

BTW this is the log from the Redmi Go:

Syncing files to device Redmi Go...
I/cgr.qrmv.QrReader( 2188): Using new camera API.
I/cgr.qrmv.QrDetector( 2188): Making detector2 for formats: 256
W/DynamiteModule( 2188): Local module descriptor class for com.google.android.gms.visi

[2019-04-13 10:08] abhisheks-active commented on #57
sir please give an example of on and off flash lignt in qr mobile vision....

[2019-04-23 01:18] krolaw commented on #49
The flutter camera plugin now allows frames to be streamed to dart... Would this not be a way forward to avoid hardware compatibility problems? Or would we need a dart native zxing lib to complete the lib (and be be dart only).

[2019-04-26 04:13] abdulpiksi opened #87 "cannot recognize white qrcode"
hello i have qrcode in poster color is white, and cannot recognize
but black qrcode it fast to scan it

[2019-05-06 15:02] dadja commented on #24
hello sir is it possible that you share the code which you produce to attempt that i am trying to do so too.Thanks

[2019-05-06 15:06] jaumard commented on #24
Sure :)
[code]

Usage:
[code]

[2019-05-09 16:51] sharpsan commented on #82
Experiencing this issue as well.

[2019-05-19 19:10] xalabax commented on #57
new IconButton(
            icon: new Icon(Icons.lightbulb_outline),
            onPressed: () {
              QrCamera qrCamera = getQrCodeView();
              qrCamera.toggleFlash();
            },
          )
Sony Xperia XZ1, worked fine.

But autofocus may not work?...

[2019-05-27 15:09] red42 commented on #20
Just as a small addition to this conversation: I've specifically tested the QR code reading capabilities of both libraries, and unfortunately, ML Kit / ML Vision (as of early 2019) still performs much worse than Google Mobile Vision, especially in "real life" conditions, with faded or distorted QR codes.

My project uses Firebase, but does not use ML Kit for this reason.

[2019-05-30 02:15] mkiisoft commented on #82
Same issue... OP6T not working, no issues with iPhone 6s.

[2019-06-03 21:45] AKushWarrior opened #89 "Tossing an AndroidX related error log directly after implementation..."
The app was working fine before I implemented your plug-in (and still is working on IOS). The gradle promptly crashed when I attempted to build/run the app on an Android (Galaxy S8, SM G950U). Is the plug-in migrated to AndroidX? Is there additional steps I may have to take in order to work this out? I've run Android Studio's "Refactor/Migrate to AndroidX" but it's not finding any issues.

(Consol

[2019-06-03 22:27] rmtmckenzie commented on #89
That's interesting. The plugin was migrated to AndroidX in version 0.2.0 so anything beyond that should work. Can you confirm you have
[code]
set in `android/gradle.properties`? And your `compileSdkVersion` set to 28 in `android/app/gradle.propertiers`?

If that doesn't help it might be worth trying to add a dependency on the annotation package:
[code]

Let me know if either of those help. If it's

[2019-06-03 23:19] AKushWarrior commented on #89
Thanks for the prompt response and for the help. So it was an issue on my end; not only did I not have the first two, I didn't even have a file at `android/app/gradle.properties`. The problem has been resolved though.
I did have a couple suggestions, including possibly adding a buffer time so that the camera doesn't detect the same QR code twice, but there's a more appropriate time and place for t

[2019-06-03 23:19] #89 closed

[2019-06-04 00:31] rmtmckenzie commented on #89
Glad I could help =) it's weird that the migration tool doesn't create the grade.properties automatically.

[2019-06-04 18:23] virtouso opened #90 "make detect the qr if its only fills a frame"
hi.
thanks for your amazing package. your pacakge is easy to setup and works well but it misses an important feature. as you know in real apps its not an standard to make an event as fast as camera finds the barcode. detector only performs when the qr fills the defined frame. is this feature implemented in your package? if not how can i add this feature?

thanks for answering

[2019-06-13 15:12] Mythar opened #91 "Execution failed for task ':app:preDebugBuild'."
I tried to upgrade from 0.1.0 to 0.2.2 but getting this error:

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':app:preDebugBuild'.

[2019-06-16 14:18] khainke opened #92 "Detect position of scanned Code for overlay"
Feature request: Add a position to the code callback, so one could add dynamic overlays. Or if there is another way to realize dynamic overlays, please let me know.

[2019-06-17 23:20] nhwilly commented on #20
Ditto here, @red42

[2019-07-09 07:46] rajeshpatil95 opened #93 "flutter_qr_mobile_vision plugin fails saying Linking Error:"
Trying to Create Simple QR Code Scanner Using flutter_qr_mobile_vision Plugin:

1) Included flutter_qr_mobile_vision in pubspec.yaml file

2) Tried the example given in their repo
https://github.com/rmtmckenzie/flutter_qr_mobile_vision/tree/master/example

`~/flutter_projects/qr_scanner$ flutter doctor
Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel beta, v1.7.8+ho

[2019-07-12 10:21] AmitParel commented on #72
@rmtmckenzie I am facing same issue as I checked I have already placed the following code in gradle.properties
android.enableJetifier=true
android.useAndroidX=true

[2019-07-15 14:44] shkatulo commented on #56
I fixed this on iOS and sent pull request to this repository: https://github.com/rmtmckenzie/flutter_qr_mobile_vision/pull/94

Until PR is accepted, you can use this in pubspec.yaml:
`  qr_mobile_vision:
    git:
      url: https://github.com/shkatulo/flutter_qr_mobile_vision.git`

Also you may need to update flutter packages.

[2019-07-18 09:20] carlos12silva94 opened #95 "ios crash when turn flash on when camera is on"
Hi,

in my app, i have one activity that uses the camera of the phone. Then, I have a button to turn on the flashlight. In android everything is working fine, but on ios, the flashlight turn on for a second, and then it goes off and the app crashes (not possible to do any action).

Is it possible to solve this issue?

[2019-07-18 11:29] chiragintersoft opened #96 "Undefined symbols for architecture arm64:"
Ld /Users/osx/Library/Developer/Xcode/DerivedData/Test123-aymiltjdzeiccgdedqisamadkxlr/Build/Intermediates.noindex/Pods.build/Debug-iphoneos/FlutterPluginRegistrant.build/Objects-normal/arm64/FlutterPluginRegistrant normal arm64
    cd "/Users/osx/Documents/android_workspace/Fluttermodule/untitled folder/Test123/Pods"
    export IPHONEOS_DEPLOYMENT_TARGET=8.0
    export PATH="/Applications/Xcode.a

[2019-07-24 10:03] gmaxferr commented on #95
@rmtmckenzie  is this solvable? I'm having the same issue...

[2019-07-24 10:06] gmaxferr commented on #57
I'm having an issue to make this work on iOS... the app just crashes when the flashlight is turned on

[2019-07-28 21:59] warriorCoder commented on #95
@carlos12silva94 Did you merge the PR from  adlanarifzr? If so check my comment on the PR that fixes the iOS issue.

[2019-07-30 08:39] carlos12silva94 commented on #95
Ok. It's working now. Thanks

[2019-07-30 08:40] #95 closed

[2019-07-30 21:44] agueroveraalvaro opened #97 "PlatformException - ALREADY_RUNNING - Qr is not starting at first time"
PlatformException(ALREADY_RUNNING, Start cannot be called when already running, )
I/flutter (14094): Error reading from camera: PlatformException(ALREADY_RUNNING, Start cannot be called when already running, )

This is because the first thing I do in the app is start the QR, and when is not permission enabled and then I enable this, this message appears

[2019-07-30 23:15] alexisnaud commented on #56
It's working for me, thanks! @shkatulo

[2019-07-31 13:19] Baileypollard commented on #84
@miguelpruivo What was your solution to this issue?

[2019-07-31 13:51] miguelpruivo commented on #84
@Baileypollard I forked it and fixed it, you can use it directly from [here](https://github.com/miguelpruivo/flutter_qr_mobile_vision) if you want.

[2019-07-31 13:51] miguelpruivo commented on #84
@Baileypollard I forked it and added a workaround to it, you can use it directly from [here](https://github.com/miguelpruivo/flutter_qr_mobile_vision) if you want.

[2019-07-31 17:14] Baileypollard commented on #84
@miguelpruivo Thanks for that. Have you experienced low Frames/s on IOS devices specifically?

[2019-07-31 17:51] miguelpruivo commented on #84
@Baileypollard yes. I ended up using the [fast_qr_reader_view](https://github.com/miguelpruivo/fast_qr_reader_view) instead, also forked because it had some issue by the time.

I have a production app that relies on QR code scanning and this was one of the few solutions that worked, after some researching and trying with a lot of different reader packages.

[2019-07-31 18:23] Baileypollard commented on #84
@miguelpruivo Have you ran into any issues where fast_qr_reader_view isn't scanning on IOS?

[2019-07-31 18:43] miguelpruivo commented on #84
@Baileypollard not actually, and it has been in production for a while now (since June). But, I'm only using it to scan QR Codes, I don't know if it has any other issue with different kind of codes.

[2019-08-01 18:51] agueroveraalvaro opened #98 "qrmobilevision QrCameraC1.java uses or overrides a deprecated API"
**I execute**

 `flutter build apk`

**Then**

Note: /Users/my_user/flutter/.pub-cache/hosted/pub.dartlang.org/qr_mobile_vision-0.2.2/android/src/main/java/com/github/rmtmckenzie/qrmobilevision/QrCameraC1.java uses or overrides a deprecated API.
Note: Recompile with -Xlint:deprecation for details.

The apk is generated but with this message.

Very thanks for the very good library!

[2019-08-08 02:08] GabLeRoux opened #100 "Unable to scan barcodes in example app - com.google.android.gms.vision.dynamite.barcode not found"
Hello there, just trying this out. Cloned the repo, went into example project
[code]

App launches on android, but when I press the button to display camera, camera does display, but I get the following output in the console:

[code]

Then it repeats over and over.

[code]

This seems related to #75

I tried adding this:

[code]
bellow `<application ...>` tag in `example/android/app/src/main/Andro

[2019-08-08 02:09] GabLeRoux commented on #100
Closing issue since solution in description.

[2019-08-08 02:09] #100 closed

[2019-08-08 02:10] GabLeRoux commented on #75
* I tried adding this:
[code]
under `<application ...>` tag in `example/android/app/src/main/AndroidManifest.xml`

* I also made sure my android device has an internet connection.
* Turns out that what solved my issue was to delete the data of `Google Play Services` app on the device. Details in #100
* Settings > Apps > Google Play Services > Storage > Delete data and cache

[2019-08-22 17:26] renanserrou opened #101 "How to set only one kind of code format?"
Hello Im kind of new on the dev world, not sure if this is the right place to ask this question, but I couldn´t get what is the syntax to set a specific code format. Thx!

![formats](https://user-images.githubusercontent.com/34111487/63535856-7075d680-c4e0-11e9-968d-e629fabed307.jpg)

[2019-08-25 09:34] n0m4dz commented on #98
Same issue here

[2019-08-29 09:06] pboethig commented on #98
Whats the State of this issue?

[2019-08-29 14:36] rmtmckenzie commented on #98
I've been crazy busy for the last few months and haven't had a chance to do anything with this plugin at all unfortunately. It's still on my list of things to get to though.
But tbh, this issue won't go away - I need to use the old camera v1 api for old versions of android, and that's one of the main features of this library in comparison to some of the other ones. I might be able to disable the w

[2019-08-29 14:37] rmtmckenzie commented on #98
But on anything android 6+, the deprecated code isn't called, so it shouldn't cause any issues.

[2019-08-29 17:01] pboethig opened #102 "Androidx"
The Scanner runs exactly 1 Time after route and copme back the camera wont open.

This is the message:

I/cgr.qrmv.QrReader( 6311): Using new camera API.
I/cgr.qrmv.QrDetector( 6311): Making detector2 for formats: 0
W/DynamiteModule( 6311): Local module descriptor class for com.google.android.gms.vision.dynamite.barcode not found.
I/DynamiteModule( 6311): Considering local module com.google.androi

[2019-09-05 06:59] abdussamad0 commented on #101
**First Import this**
`import 'package:qr_mobile_vision/qr_mobile_vision.dart';
`
...
...

`formats: [BarcodeFormats.CODE_93, BarcodeFormats.CODABAR, BarcodeFormats.DATA_MATRIX],`
 ...

[2019-09-10 09:17] shanazainab opened #103 "QrCamera not loading while running second time"
-
![Capture](https://user-images.githubusercontent.com/39184339/64601108-f4352b80-d3d9-11e9-8a90-98f284be93c6.PNG)

[2019-09-13 16:20] DeBelg commented on #102
Where did you see this as a androidx issue?

[2019-09-13 16:21] DeBelg commented on #98
I'm using this soon for professional, you need any help with updating or can you tell me what should happen so the error goes away? @rmtmckenzie

[2019-09-23 09:48] Fagnolr commented on #31
Hey @jaumard can you show me your solution please ? 😄

[2019-09-23 09:51] jaumard commented on #31
@Fagnolr my solution was to not use this package anymore :D lol

[2019-09-23 11:57] Fagnolr commented on #31
Which one do you use? 👼

[2019-09-23 12:12] jaumard commented on #31
https://pub.dartlang.org/packages/flutter_camera_ml_vision :)

[2019-09-26 23:24] davidcalle3141 commented on #75
any updates on this? the app im currently working on is for a custom device and it runs a custom android that does not have the google play services app.

[2019-09-27 00:25] yongjhih commented on #86
https://github.com/yongjhih/flutter_qr_mobile_vision/commit/b33322829634e87724c9acf326e90c9e66d99108

[2019-09-30 11:40] SebastianRuettger commented on #82
OnePlus 6 here, same issue

[2019-10-01 18:28] gmaxferr opened #104 "Deprecated API Usage"
On Apple processing:

**ITMS-90809: Deprecated API Usage - Apple will stop accepting submissions of apps that use UIWebView APIs....**

This is an issue with this plug-in. you probably depend on an old version of some dependency that still uses it, or you use it yourself.

This makes it impossible to include in a production app.

[2019-10-16 09:48] karan-rawal commented on #104
Please fix this.

[2019-10-23 16:47] LeandroMoura3 opened #105 "How to detect only a subarea of the camera?"
I need to detect only in the top of the camera.

In this scenario, only top of the camera will be displayed for the user, the middle and bottom will be replaced by UI like a list. But, when the user use the QrCamera to scan the codes, all camera are in detect mode. So, the part that are replaced be the UI detect too. The result is that codes are detected even if they don't are showing in the camer

[2019-10-25 17:54] feliperfmarques commented on #105
Please, check properties `targetWidth` and `targetHeight `in `qr_camera.dart`. I think that this properties are used for setup recognation area in `QrReader `method in `QrReader.java`

[2019-11-01 10:50] GerRev commented on #104
any update ...on this ...can't go to production with this plugin...cheers..

[2019-11-11 12:25] iapicca commented on #39
Hi @LiveRock
are you still experiencing this issue with the latest version of Flutter?
If the issue persist please provide your updated
`flutter doctor -v` and `flutter run --verbose`
together with a minimal code sample to reproduce the problem
thank you

[2019-11-12 00:30] normancarcamo commented on #40
Hi, I know that this is a bit old, but would you mind to suggest me something to avoid pushing a new screen? the camera seems to still working in the background because the console in IntelJIdea shows so.

Is it ok/valid to use a global key?
do you have any example before hand?

Thanks!.

[2019-11-13 08:07] horgamarius opened #107 "Samsung Galaxy S6 - Native_device_orientation - compile error"
Hi.
I try to use the library on Samsung Galaxy S6 Edge. and I receive the following error when compile.

Compiler message:
/C:/Users/marius/AppData/Roaming/Pub/Cache/hosted/pub.dartlang.org/native_device_orientation-0.3.0/lib/native_device_orientation.dart:149:30: Error: Getter not found: 'detached'.
      case AppLifecycleState.detached:
                             ^^^^^^^^
Exception: Errors dur

[2019-11-14 02:51] VytorCalixto commented on #107
Same error on a Samsung Galaxy A10

[2019-11-22 04:17] tahaafg20 commented on #107
this plugin uses a library called native_device_orientation which the new version 0.3.0 is using the keyword detached which is supposed to be suspending
so you can either fork the repository and change the version to 0.3.0 in pubspec.yaml or change the keyword detached to suspending in the native_device_orientation plugin source code.
hope it helps

[2019-11-24 18:41] MikeSWelch commented on #84
I have forked and fixed the problem: https://github.com/MikeSWelch/flutter_qr_mobile_vision

I have also submitted a pull request.

[2019-11-26 10:48] MahmoodBakhshayesh commented on #51
try
flutter clean
and build project again

[2019-12-09 11:33] aimanapps commented on #107
Had the same error, now I'm using version 0.2.2 so my app can run like it used to.

[2019-12-11 10:07] steve28100 commented on #97
Is there any updates?

[2019-12-11 10:33] NithinPrabhu24 opened #109 "Getter not found: 'detached'."
App is not building for android please find the below error message

Compiler message:
/C:/Users/nitin/flutter/.pub-cache/hosted/pub.dartlang.org/native_device_orientation-0.3.0/lib/native_device_orientation.dart:149:30: Error: Getter not found: 'detached'.
      case AppLifecycleState.detached:
                             ^^^^^^^^
Compiler failed on E:\NewFloder\flutter_app45\lib\main.dart

FAIL

[2019-12-16 22:52] yongjhih commented on #109
Seems like the AppAppLifecycleState.suspending renamed to AppLifecycleState.detached during upgraded to
flutter#v1.12.13+hotfix.5 from flutter#v1.9.1+hotfix.6 in stable channel.
native_device_orientation dependency has to be fixed for that.

[2019-12-16 22:53] yongjhih commented on #109
Seems like the AppAppLifecycleState.suspending renamed to AppLifecycleState.detached during upgraded to
flutter#v1.12.13+hotfix.5 from flutter#v1.9.1+hotfix.6 in stable channel.
native_device_orientation dependency has to be fixed for that. https://github.com/rmtmckenzie/flutter_native_device_orientation/issues/16

[2019-12-17 02:18] jaddoescad commented on #104
any updates?

[2019-12-17 07:46] steve28100 opened #110 "How to completely dispose the widget?"
Hello, the camera is works fine but when come back to the same screen again. Example: Home menu -> Barcode menu (works fine) -> Some Screen -> Home menu -> Barcode Menu (doesn't work).

However if using Navigator pushReplacementNamed the camera is loaded again. But I can't do that since I still need previous routes.

Maybe the problem is because the camera is not fully disposed in dispose method s

[2019-12-17 07:58] steve28100 commented on #40
Is there any update on this issue? Have you find the solution/workaround @normancarcamo?

[2019-12-19 08:53] mstroeve commented on #104
Any update on this?

[2019-12-20 17:08] v0l commented on #86
@yongjhih pls PR this?

[2019-12-24 09:22] rmtmckenzie commented on #86
@v0l  I've integrated that fix into 0.3.1.

[2019-12-24 09:22] #86 closed

[2019-12-24 16:21] DavideBicego commented on #105
Have anybody got the chance to try what @feliperfmarques suggested?

[2019-12-27 15:06] gmaxferr commented on #104
any updates on this issue?

[2020-01-05 05:25] qimingweng opened #112 "PlatformException when trying to start on iOS Simulator"
I get a PlatformException whenever trying to start `QrCamera`.

[code]

I believe this happens during the call to `QrMobileVision.start`, and deeper down, my suspicion is that this has to do with the fact that simulators can't run capture sessions `AVCaptureSession`.

I suppose a recommendation could be to leave the screen blank when on simulator, but also posing the question here to determine if

[2020-01-05 06:32] qimingweng commented on #112
For what it's worth, I'm getting around this by wrapping QrCamera in a wrapper widget. Like below:

[code]

[2020-01-05 16:08] rmtmckenzie commented on #104
Okay, sorry this has taken so long for me to look into. The issue is that the dependency that uses UIWebView is actually GoogleMobileVision itself - so there's not much I can do about that unless I switch to using Firebase Mobile Vision as google doesn't seem like they're going to release any sort of update to that. I'm looking into options and will try to update this when I get a chance.

[2020-01-06 14:01] SteamGorilla commented on #112
Do you get this error when you run your app on a physical device ?

[2020-01-06 18:52] LeandroMoura3 commented on #105
Hello.

I solve this problem in the function n21Buffer.put(...) localized in QrDetector2.java.
Here is the solution:
for (int i = imgHeight - finalDetectorHeight; i < imgHeight - initialDetectorHeight; ++i) {
      nv21Buffer.put(yPlaneBytes, i * yPlaneRowStride + initialDetectorWidth, width);
}

The solve is based on the fact that this function make a linear "buffer" with the image capture from c

[2020-01-06 19:04] #105 closed

[2020-01-10 22:01] MrJohn2014 opened #113 "Sometimes camera inverts automatically, how to turn off it?"
While the camera is opened, it does invert sometimes. Even though the device is not rotated, camera rotated automatically.  How to lock up it?

[2020-01-17 09:24] gamelaster commented on #82
OnePlus 6T, same.... how is this possible? 😀

[2020-01-21 13:19] Boehrsi opened #114 "Support for Android embedding v2"
Hi, as soon as an app uses the Flutter 1.12.x + Android v2 embedding the plugin stops functioning. The reason is the not available `registrar` if v2 embedding is used. The result is the following:

[code]

With Android v2 embedding the registrar isn't used anymore and instead the [FlutterPlugin](https://github.com/flutter/engine/blob/master/shell/platform/android/io/flutter/embedding/engine/plugin

[2020-01-21 13:25] Boehrsi commented on #114
PR was added.

[2020-01-26 17:37] okarpov commented on #82
any update on it? has been solved? other phones it is not working on?

[2020-01-29 17:32] qimingweng commented on #56
Any update on this issue and pull request?

[2020-01-30 08:58] GyuriMajercsik commented on #82
the same here, OP6

[2020-01-30 09:27] tudor07 commented on #82
I have the same issue, not working with OP6

[2020-01-30 14:31] gamelaster commented on #82
I don't want to make an advertisement for other project, but I was looking for alternative, and found only this [flutter_barcode_reader](https://github.com/apptreesoftware/flutter_barcode_reader) works fine on OP 6T (it supports also QR codes)

[2020-01-30 14:39] okarpov commented on #82
I need to be able to read different formats especially PDF417, can that one read such?

[2020-02-05 12:55] qimingweng commented on #56
Tested #94 and just adding this comment to say it works for me on physical iPhone (much faster FPS on camera).

[2020-02-06 18:58] d-mh commented on #56
Thanks @qimingweng for your confirmation. I am closing this issue

[2020-02-07 02:45] qimingweng commented on #56
@d-mh just curious why you are closing the issue, as I don't believe this is solved in the main library? The PR from #94 has not been merged yet.

[2020-02-07 08:01] d-mh commented on #56
@qimingweng you are right

[2020-02-11 18:02] booooza commented on #97
Got the same exception here with Android when doing flutter hot restarts...

[2020-02-14 09:27] blattr commented on #104
@rmtmckenzie first of all, I totally love your plugin. It works like a charm but I am a little afraid that my app is going to be revoked because of deprecated API usage. Could you please give me/us some update on this issue?

Best regards
Roman

[2020-02-17 04:15] rio45ka commented on #110
Any update for this issue?

[2020-02-17 07:59] rostopira commented on #15
I have the same issue with OnePlus 5T on Android 9 and 0.3.1 plugin
Tried to manually change version of vision dependency to 19.0.0, didn't help

[2020-02-17 18:39] #101 closed

[2020-02-17 18:41] rmtmckenzie commented on #87
Honestly this is more of an issue with the GoogleMobileVision library - there's not a whole lot I can do about it.

[2020-02-17 18:41] #87 closed

[2020-02-17 18:44] rmtmckenzie commented on #104
Hi @blattr & all. First off, sorry I haven't been very communicative on this or any of the other issues - I've had a crazy few months. The issue as I mentioned is that using GoogleMobileVision is no longer an option for iOS since it uses the deprecated APIs. I've been experimenting with other options when I have time - one being switching to using a dart-only combination of the Flutter team's Came

[2020-02-21 09:46] blattr commented on #104
@rmtmckenzie thank you for your quick response and sorry for me answering this late. Hard to say which way to go to meet the majorities needs. I personally would prefer to create a firebase account, as long as there are no extra costs (which I think don't occur, cause On-Device APIs are free to use).

[2020-02-21 17:15] DwayneCoussement opened #117 "Integrate with FirebaseMLVision"
This will be needed instead of the other Google pod to resolve the UIWebView issue.

[2020-02-24 14:47] akshaybenk opened #118 "App crashes when clicked on deny camera permission on android 10 device"
`java.lang.RuntimeException: Failure delivering result ResultInfo{who=@android:requestPermissions:, request=1, result=-1, data=Intent { act=android.content.pm.action.REQUEST_PERMISSIONS (has extras) }} to activity {MainActivity}: java.lang.NullPointerException: Attempt to read from field 'io.flutter.plugin.common.MethodChannel$Result com.github.rmtmckenzie.qrmobilevision.QrMobileVisionPlugin$Readi

[2020-02-25 13:53] nmhernandez10 commented on #118
I have the same issue :(

[2020-02-26 12:19] w3ggy commented on #59
Still exists

[2020-03-10 16:02] tudor07 commented on #104
I have the same issue.

[2020-03-12 09:54] #117 closed

[2020-03-12 16:40] DwayneCoussement commented on #73
I think most of this is now fixed by https://github.com/rmtmckenzie/flutter_qr_mobile_vision/pull/119

[2020-03-16 20:53] thorau commented on #104
Yes, me too. We are planning to go live with our app, but now the release is blocked.

[2020-03-19 15:25] booooza commented on #56
Same issue here with iPhone 6. @rmtmckenzie any chance you can look into this? It turns the otherwise great library quite unusable for me. Thank you :)

[2020-03-22 01:37] thiago-zaidem commented on #89
My Friend, you have to do this on the your Android project file too. I followed your suggestion but didn´t work. I cloned your project and I seing inside 'android/gradle.properties' and they don´t have:

When I put, it works like charm.

[2020-03-26 09:29] DwayneCoussement opened #120 "Let user parameterize which codes are accepted and which are not."
Now by default we accept all the types of codes, as an end user this is not always the case what I want.

[2020-03-28 09:57] blattr commented on #104
@rmtmckenzie could you please give us some update on this issue?

[2020-04-01 04:10] 7flash commented on #102
Have the same issue, any ideas?

[2020-04-01 11:57] DeBelg commented on #102
Hi can you link me again?
Im on mobile and I’ll check

On Wed, 1 Apr 2020 at 06:11, Igor Berlenko <notifications@github.com> wrote:

[2020-04-02 08:18] jessicacorreiawgs commented on #49
Hi,
@Alekcei

If I don't have the Java file, on the flutter, to make that code change, what is the file where I can insert the code?

Thanks

[2020-04-02 08:41] costarf commented on #49
Hi,

Following @jessicacorreiawgs note, we are having trouble with this plugin on some Xiaomi devices.

It works on an older Xiaomi with MIUI 8, doesn't work on MIUI 10, and works again on MIUI 11...

The problem is the same, no auto focus. If I try to focus a QR Code around 3x3 cms at 1m height (on a scooter handlebar), it just focus the ground level, and not the QR Code.

Thanks,

[2020-04-02 23:41] booooza commented on #118
Same here on Android 9 and iOS 12. It can be prevented if QrCamera is wrapped with a permission check (e.g. with permission_handler) and the permission is requested before QrCamera gets rendered. Nevertheless is should probably be handled by the library.

[2020-04-06 02:40] 7flash commented on #102
@DeBelg :sos:

[2020-04-06 10:28] DeBelg commented on #102
I remember not using this repo as it was not affective. Are you looking for
a QR scanner?

On Mon, 6 Apr 2020 at 04:40, Igor Berlenko <notifications@github.com> wrote:

[2020-04-10 18:11] lovelessX commented on #104
FirebaseMobileVision sounds good to me. This is also blocking my app release.

[2020-04-10 23:07] SiavoshZarrasvand commented on #112
You cannot use camera on simulator, need to run on iOS device (iPhone, iPad, ...).

[2020-04-11 19:53] #112 closed

[2020-04-11 20:05] rmtmckenzie opened #121 "Support alternative reading libraries"
Right now, this plugin handles the 'difficult' part of getting images from the camera and hooking it into the processing part (which can't quite be done just using the Flutter camera library unfortunately). It currently uses FirebaseMobileVision's detector (or at least once that version is released).

What I'd like to propose if there's enough interest, is to split the plugin into a few different

[2020-04-11 20:19] rmtmckenzie commented on #120
This is already supported, just pass the `formats` parameter with the types you want to accept.
(for iOS that will be ignored in older versions, in 1.0.0 it works properly)

[2020-04-11 20:19] #120 closed

[2020-04-11 20:39] rmtmckenzie commented on #114
This is fixed in 1.0.0. If you need to use 0.* because of its support for firebase, I recommend using the commit directly (or open a new bug and I'll try to put out a hotfix release for 0.*)

[2020-04-11 20:39] #114 closed

[2020-04-11 20:44] rmtmckenzie commented on #110
There needs to be some more refactoring to the widget but in this case I don't think it'd help anyways - when you push a new route on top of the old one, it doesn't automatically dispose the routes under it. By using replacementNamed, you're actually disposing the old routes. Also, if you're just pushing a new route on top every time that is a bit of an issue with your code - you should eventually

[2020-04-11 20:45] rmtmckenzie commented on #109
Should be resolved in the newest release. Let me know if it isn't.

[2020-04-11 20:45] #109 closed

[2020-04-11 20:45] rmtmckenzie commented on #107
Should be fixed on new version, let me know if it isn't.

[2020-04-11 20:48] rmtmckenzie commented on #104
Hi all! Sorry this took so long, but it is out in the wild now with the 1.0.0 release (and the subsequent + releases). I wanted to wait until the app I build that uses this library was actually approved by apple to ensure that it actually resolved the issue, and that appears to be the case 😄.

If any of you who are interested in FirebaseMobileVision could give it a test, feedback would be much app

[2020-04-11 20:48] #104 closed

[2020-04-11 20:50] rmtmckenzie commented on #102
The 1.0.0 release switches away from the GoogleMobileVision library to FirebaseMobileVision, which should resolve this issue. I'm closing this bug but if you want to give it a test and notice anything wrong, feedback would be appreciated =).

[2020-04-11 20:50] #102 closed

[2020-04-11 20:52] rmtmckenzie commented on #98
Unfortunately there's not much I can do to remove this warning in your build so long as I'm trying to support pre-cameraV2 api devices. This shouldn't cause any actual errors or affect your build in any way other than showing the warning though.

[2020-04-11 20:52] #98 closed

[2020-04-11 20:52] rmtmckenzie commented on #96
I'm closing this for now as it is most likely resolved.

[2020-04-11 20:52] #107 closed

[2020-04-11 20:53] rmtmckenzie commented on #103
Please try with the 1.0.0 release and firebase.

[2020-04-11 20:53] #103 closed

[2020-04-11 20:55] rmtmckenzie commented on #97
@booooza there may not be a lot I can do with hot restarts - that's essentially because the native platform and UI get out of sync.
I've done some changes to the plugin since this was reported though, so I'm going to close it. If you're still trying to use the library and see any issues, please open a new bug.

[2020-04-11 20:55] #97 closed

[2020-04-11 20:57] rmtmckenzie commented on #20
1.0.0 now supports this (although I almost feel silly for commenting on an issue this old >_<).

[2020-04-11 20:57] #20 closed

[2020-04-11 20:58] #24 closed

[2020-04-11 20:59] #31 closed

[2020-04-11 21:00] rmtmckenzie commented on #38
Cleaning up old issues, please submit a new one if you still have issues with the 1..0.0 release.

[2020-04-11 21:00] #38 closed

[2020-04-11 21:00] #39 closed

[2020-04-11 21:01] #40 closed

[2020-04-11 21:02] #52 closed

[2020-04-11 21:02] #55 closed

[2020-04-11 21:03] rmtmckenzie commented on #61
Closing as this might be fixed on 1.0.0.

[2020-04-11 21:03] #61 closed

[2020-04-11 21:03] #64 closed

[2020-04-11 21:04] rmtmckenzie commented on #56
@booooza try with version 1.0.0, it should be a lot better =)

[2020-04-11 21:04] #56 closed

[2020-04-11 21:05] #73 closed

[2020-04-11 21:05] rmtmckenzie commented on #73
Fixed in 1.0.0

[2020-04-11 21:11] rmtmckenzie commented on #78
This plugin won't work on the simulator at all since it required a camera. I'm going to close this for now, but if anyone needs to support iOS 8 and can't get it to work I encourage you to open a new issue.

[2020-04-11 21:11] #78 closed

[2020-04-11 21:13] rmtmckenzie commented on #82
This is a bit of an old thread now, but I've released a new version which uses FirebaseMobileVision library instead of GoogleMobileVision. If anyone with an Oppo device wants to test it out, I'd appreciate the feedback =)

[2020-04-11 21:13] #82 closed

[2020-04-11 21:15] rmtmckenzie commented on #85
Using FirebaseMobileVision library which has hopefully been updated. I'm going to close this for now but if you see this again please let me know. I'd also recommend screening the data for it being somewhat like what you expect - I'm just returning whatever I get from the QR scanning library so if it's invalid I won't really know.,

[2020-04-11 21:16] rmtmckenzie commented on #90
I'm going to try to implement this eventually but as you might have guessed from the lack of reply so far, I haven't had much chance to work on the plugin lately. In my app I actually do have a timeout-based capture, but just done in Dart - the first time I receive a barcode I record it, and then wait at least .5 s, and if the barcode is then read again, I accept it at that point.

[2020-04-11 21:17] #85 closed

[2020-04-11 21:18] #91 closed

[2020-04-11 21:18] rmtmckenzie commented on #91
This should hopefully be fixed in 1.0.0

[2020-04-11 21:19] rmtmckenzie commented on #93
Strange, but I'm not sure

[2020-04-11 21:19] #93 closed

[2020-04-11 21:19] #96 closed

[2020-04-11 21:21] rmtmckenzie commented on #75
This should work better in the new 1.0.0 version, although I'm not sure that it will ever work on a device without google play services - it depends on how firebase does things

[2020-04-11 21:21] #75 closed

[2020-04-11 21:22] rmtmckenzie commented on #118
Closing as a duplicate of #59, but I think the issue still probably exists. I'll look into it when I get a minute, should be fairly soon now.

[2020-04-11 21:24] rmtmckenzie commented on #84
I think this is fixed in the newest version, 1.0.0.

[2020-04-11 21:24] #84 closed

[2020-04-11 21:26] rmtmckenzie commented on #113
I'm hoping this is fixed in 1.0.0, but reopen/create a new bug if not.

[2020-04-11 21:26] #113 closed

[2020-04-11 21:35] lovelessX commented on #104
I've changed to 1.0.0+3 and it works great! Thanks for all your hard work.

[2020-04-12 09:29] gamelaster commented on #82
@rmtmckenzie Hi, I had issues with this library on mine OnePlus 6T, if I will not forgot, I will test if the new version works. Thank you really for your work!

BTW: If I will not provide feedback here, please, mention me here, thanks

[2020-04-12 14:08] subinsv opened #123 "Expose "FirebaseVisionBarcode" instead of "String" via qrCodeCallback"
Currently the library only exposes the rawValue of FirebaseVisionBarcode.

Can you expose whole FirebaseVisionBarcode properties via qrCodeCallback. This will allow us to utillize the full potential of Firebase Vision.

[FirebaseVisionBarcode Docs](https://firebase.google.com/docs/reference/android/com/google/firebase/ml/vision/barcode/FirebaseVisionBarcode)

[2020-04-12 16:53] booooza opened #124 "Camera preview upside down on Android"
**Description**: Since the upgrade to version 1.0.0+3 the camera preview on Android is rendered upside down (see screenshot).

**Affected versions**: 1.0.0+3
**Affected devices**: Nexus 5X API 28 x86 (Emulator), Huawei P20 (Physical)
**Notes**:
- Tested in debug and release mode
- Tested with the provided example app
- Does not happen on iOS (iPhone 6)

![Screenshot_1586709459](https://user-images

[2020-04-12 17:28] booooza opened #125 "Fatal exception on android"
**Description**: Since the upgrade to version 1.0.0+3 I randomly (?) get fatal exceptions on Android with a complete app crash (see strack trace). Unfortunately I'm not able yet to tell what events cause the issue...

**Affected versions**: 1.0.0+3
**Affected devices**: Nexus 5X API 28 x86 (Emulator), Huawei P20 (Physical)

[code]

[2020-04-12 17:39] booooza commented on #56
@rmtmckenzie jup, can confirm rendering with version 1.0.0 is smooth 👍 thanks

[2020-04-12 17:45] booooza commented on #118
@rmtmckenzie yes, issue still exists with Version 1.0.0 (Android 9 and iOS 12)

[2020-04-12 20:36] lucasbaizer2 commented on #125
I have noticed this same exception happening when closing out of the app.

[2020-04-13 19:00] emmett-deen commented on #97
Still having this issue

[2020-04-14 08:32] GyuriMajercsik commented on #124
Yes, it's happening for me too.

[2020-04-14 20:27] rmtmckenzie commented on #125
Ah okay, thanks. Looks like I'm not being careful enough about the image frames, I'll take a look soon!

[2020-04-14 20:30] rmtmckenzie commented on #124
Okay so this was seen on a Huawei P20, @GyuriMajercsik which device did you see it on?
I've tested this out on all the devices I have, so I assume it must be something to do with how the camera is reporting its orientation. I'll try to put out a version that spits out enough diagnostic info that I can figure out what's going on and attempt to fix it for you when I get a chance - probably not today

[2020-04-14 20:34] rmtmckenzie commented on #123
Good idea, I'll try to do this in a future update.

[2020-04-14 20:41] booooza commented on #124
@rmtmckenzie alright, let me know if I can help with the debugging. Maybe you can reproduce it in an emulator, I also see it there (Nexus 5X API 28 x86).

[2020-04-14 22:26] rmtmckenzie commented on #124
I actually didn't realize that you could use the camera in the emulator haha, I've managed to get it working for me now so I'm working on this. I think the main issue is that some Nexus 5x devices report weird things for the camera orientation, and that's been my primary test device.

[2020-04-14 22:36] lucasbaizer2 commented on #124
I have this same issue happening on my Pixel 1 (the hardware device, not an emulator), so I believe this is happening to more devices than the Nexus.

[2020-04-15 06:18] subinsv commented on #124
I have this same issue on
Device: Redmi k20 pro
Android 10

[2020-04-15 06:30] hoctq commented on #124
I have same issue on my Sony XZ1, android 10

[2020-04-15 13:10] rmtmckenzie commented on #97
@emmett-deen what are the steps you take that I could take to reproduce this?

[2020-04-15 19:39] Pikaju commented on #124
Same issue on a Huawei P20 lite, Android 9

[2020-04-16 01:06] rmtmckenzie commented on #124
Thanks for all the feedback everyone - I think that it's happening on most android devices right now. I've come up with a slightly hacky fix - basically ignoring devices that report a landscape right camera, because it appears that even though the camera reports the sensor as being rotated right, the image that comes out is still rotated left. Unfortunately that seems to have caused a discrepancy

[2020-04-16 10:47] kostasoft commented on #125
This happens on my Nexus 5 when I close the Widget containing QrCamera. Here is the log:

[code]

[2020-04-16 16:26] kostasoft commented on #125
In Flutter Console:
[code]

[2020-04-18 23:45] adriancsbna commented on #125
Same issue on Motorola Moto G5 Plus

[2020-04-18 23:46] adriancsbna commented on #124
Same issue on Motorola Moto G5 Plus Android 8.1

[2020-04-19 02:33] rohnsht commented on #125
I got the same issue too. I think its with most of the android devices.

[2020-04-20 09:38] vinceMuni commented on #125
I tried both on Android and iOS, but it results in a crash only for the former. It usually happens like this:

Open the screen with QR widget -> close it going back -> open again -> close again;

The error is the same as @booooza's.

Thanks for your work

[2020-04-21 00:40] rmtmckenzie commented on #125
This should be fixed as of 1.0.1.

[2020-04-21 00:40] #125 closed

[2020-04-21 00:43] rmtmckenzie commented on #124
This should be fixed as of 1.0.1. Let me know if anyone is seeing any issues with that release!

[2020-04-21 00:43] #124 closed

[2020-04-21 23:18] booooza opened #126 "App crashes on iOS after opening/closing QrCamera multiple times"
**Description**: App crashes badly on iOS after opening/closing QrCamera multiple times. Flutter does not report any logs as the app just terminates, probably because of a memory leak? The crash report shows `[vm-pageshortage]: The process was killed due to memory pressure`.

**Affected versions**: 1.0.1+1
**Affected devices**: iPhone 6 (Physical)
**Notes**:
- Tested in debug and release mode
- Te

[2020-04-22 00:39] rmtmckenzie commented on #126
yeah unfortunately this is an issue with the iOS implementation the GLTexture that shows the view. See this issue: https://github.com/flutter/flutter/issues/29586

It looks like the metal integration into flutter either just happened, or is happening very soon, at which point this could theoretically disappear. See https://github.com/flutter/flutter/issues/18208. Once that has for sure been integr

[2020-04-22 08:51] booooza commented on #126
@rmtmckenzie argh, sounds bad.. actually what confused me was that this did not happen when testing the ios native barcode scanning from PR #94. Check out the memory graph there while doing the same thing:
<img width="757" alt="memory-native" src="https://user-images.githubusercontent.com/18515653/79961435-035b7c00-8487-11ea-9dba-5b394d806e00.png">

[2020-04-22 16:48] rmtmckenzie commented on #126
hmmm, that's certainly quite interesting, as the issue I linked to was definitely just to do with the camera preview - I was reproducing it without having firebase included at all, although including it as well certainly exacerbated the problem.

It think it's time for me to re-test this when I get a chance - it's entirely possible that the IOSurface issue has been resolved and that it's now a mem

[2020-04-25 20:02] xvrh opened #127 "Crash on iOS 13 when permission denied"
The app crashes on the line 140 of `QrReader.swift`
[code]

on iOS 13 when the Camera permission if denied by the user.

[code]

![Screenshot 2020-04-25 at 21 58 17](https://user-images.githubusercontent.com/5110923/80289644-35e3ce00-8740-11ea-950e-76a84d13a2d5.png)

[2020-04-26 11:05] mrkhanhkhi commented on #24
Hi @jaumard ,
Thank you very much for your impressive work,  can you tell me how to move the position of the shape?

[2020-04-26 11:12] jaumard commented on #24
Hi, This has been written to target the center of the widget, if you want another position you'll have to change most of the code unfortunately because the first part draw the background (black transparent background except in the center) the second part is drawing the colorful corners. If you want to change the position you'll have to change all the `Rect.fromLTRB ` and `moveTo ` `lineTo` play wi

[2020-04-26 13:17] mrkhanhkhi commented on #24
Oh, I see, thank  you so much, will give it a try.

[2020-04-27 07:40] GabrieleVolpato commented on #125
Hello, I upgraded to version 1.0.1 and the problem persists. This is what i get in Flutter console:

`W/ImageReader_JNI(17996): ImageReader#close called before Image#close, consider calling Image#close first
F/libc    (17996): Fatal signal 11 (SIGSEGV), code 1, fault addr 0x7f7e502000 in tid 17996 (das.development)
*** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ***
Build fingerprint:

[2020-04-30 14:15] Xtase commented on #110
Hello,

Behind, what i'm using to Restart Camera, when return to screen, on build method of my Statefull widget :

Create key for QrCamera Widget (Ex: GlobalKey camKey = GlobalKey())

[code]

It seem to be OK after testing.

[2020-05-01 17:37] worawutt opened #128 "Error java.lang.ArrayIndexOutOfBoundsException when specify formats more than one item"
I use qr_mobile_vision: 1.0.1+1

[code]

 java.lang.ArrayIndexOutOfBoundsException: length=3; index=3
 	at com.github.rmtmckenzie.qrmobilevision.BarcodeFormats.optionsFromStringList(BarcodeFormats.java:93)
 	at com.github.rmtmckenzie.qrmobilevision.QrMobileVisionPlugin.onMethodCall(QrMobileVisionPlugin.java:169)
 	at io.flutter.plugin.common.MethodChannel$IncomingMethodCallHandler.onMessage(Method

[2020-05-02 21:49] ElZombieIsra opened #129 "Conflict with Firebase/CoreOnly dependency when using with firebase_auth"
Hi. I'm using this plugin, version `^1.0.1+1` in conjunction with `firebase_auth: ^0.16.0` and `firebase_core: ^0.4.4+3`. When building in Android I have not problem at all building my app. But when I tried to build the iOS app, i get a dependency error. Specifically this one
[code]

When I comment this plugin in my Pubspec.yaml, get packages and build again I get no error at all.
Is there a way t

[2020-05-04 13:55] Pushkar952 opened #130 "Terminating app due to uncaught exception 'FIRAnalyticsVersionMismatch', reason: 'Google Analytics for Firebase version (50300000) does not match with Google App Measurement (50801000) version. Please update.'"

[2020-05-05 02:13] lovelessX commented on #127
I, too, am having this issue. Also on iOS 12.

[2020-05-06 10:04] vonqo opened #131 "FIRAnalyticsVersionMismatch: Version does not match with Google App Measurement"
`flutter_qr_mobile_vision` conflicting with `flutterfire` plugins. App crashing on start.
I am using `firebase_messaging 6.0.13`.

**Exception message:**
`
*** Terminating app due to uncaught exception 'FIRAnalyticsVersionMismatch', reason: 'Google Analytics for Firebase version (50300000) does not match with Google App Measurement (50801000) version. Please update.'
`

**Flutter doctor**
[code]

[2020-05-06 19:52] pictureframing opened #132 "Provokes Apple Rejection with issue: ITMS-90809: Deprecated API Usage"
Obviously provokes a rejection when uploading to Apple AppStore with the message:

ITMS-90809: Deprecated API Usage - New apps that use UIWebView are no longer accepted. Instead, use WKWebView for improved security and reliability. Learn more (https://developer.apple.com/documentation/uikit/uiwebview).

Running a search for "UIWebView" in the Pods (`grep -r UIWebView ios/Pods/`)
gives result that

[2020-05-06 23:59] rmtmckenzie commented on #132
The whole point of the 1.* release was to move to firebase and stop using deprecated APIs. My app uses the package, was approved, and grep returns nothing for UIWebView.

Try doing a full clean and `pod update` in the iOS folder if you've updated from an older version, sometimes cocoapods leaves a bunch of unused stuff lying around.

[2020-05-07 19:08] pictureframing commented on #132
Im aware of that, but I tried everything. I can't get it going. I even created a completely new flutter project - no other packages included - tried grep: no result. Then added the `qr_mobile_vision ^1.0.1+1` package to pubspec.yaml, tried grep again, now it returns:

`grep -r UIWebView ios/Pods/
Binary file ios/Pods//FirebaseMLCommon/Frameworks/FirebaseMLCommon.framework/FirebaseMLCommon matches

[2020-05-07 20:17] Noninus commented on #132
@pictureframing same problem here. Tried everything. My grep found this too.

[2020-05-07 22:06] rmtmckenzie commented on #132
Okay, I managed to get my env so that it had the old pods, then updated.

[code]

I think `pod repo update` is the important part of that but if you do all of that you should be good.

[2020-05-08 12:24] Noninus commented on #132
@rmtmckenzie I followed all yours steps and tried to upload the app to appconnect, but i still getting ITMS-90809: Deprecated API Usage

[2020-05-08 21:42] rmtmckenzie commented on #132
@Noninus that's really strange.  Maybe upload your podfile.lock, then I can see why it might be depending on old versions still.

[2020-05-10 15:13] booooza commented on #126
@rmtmckenzie you already had a chance to look into this? It seems like the objects filling up the memory are related to CoreMedia / IOSurface. These are the leftovers objects after every start/stop but the leak detection in Xcode was not able to identify them as a leak.

<img width="1024" alt="Bildschirmfoto 2020-05-10 um 13 36 25" src="https://user-images.githubusercontent.com/18515653/81502097-2

[2020-05-11 00:52] rohnsht commented on #127
Same here app crashes when permission is denied. Is there any fix for this?

[2020-05-11 04:16] rohnsht commented on #127
The issue is there because ```let input = try! AVCaptureDeviceInput.init(device: captureDevice)``` this code throws an exception when the user denies Camera permission. Here is fix for this issue:

Inside QrReader.swift file that can be found inside Pods/Development Pods/qr_mobile_vision/.../classes make the following changes:

1. add throws to the constructor
[code]
2. Remove ! from this line
```

[2020-05-11 07:35] xvrh commented on #127
@rohnsht I opened a [pull request](https://github.com/rmtmckenzie/flutter_qr_mobile_vision/pull/134) with your instructions.

[2020-05-11 17:36] emmett-deen commented on #97
@rmtmckenzie Create a drawer with multiple screens one of which contains the QR reader. Go to the qr scanner then to a different screen then back to the scanner

[2020-05-11 23:53] calebisstupid commented on #129
I have the same issue using:
[code]

[2020-05-13 07:57] athlona64 commented on #129
+1 same issue

[2020-05-13 08:03] athlona64 commented on #132
not work because i use firebase auth same is conflict version firebasecore how to solve ?

[2020-05-13 09:28] athlona64 opened #136 "pod install conflict"
this error happen when change qr_mobile_vision to latest version if revert to old version is not a problem but can't upload to apple store

[code]

pubspec.yaml
[code]

[2020-05-14 07:12] aiman5252 commented on #136
Hi, I pretty much got the same error too.
I usually debug the android version of this app which already integrated with firebase, and when I tried to run on simulator this error happens.
*note: I haven't integrated the iOS version with firebase yet.

[code]

[2020-05-14 19:37] rmtmckenzie commented on #129
This looks to me like thing aren't being updated all the same. This plugin doesn't have any strict requirement on version, so it should work with anything relatively recent - I'd make sure your other plugins are up to date, and then if that doesn't work do a full clean on cocoapods (which is super finicky and annoying TBH).

[code]

If none of that works, you may have to use an older version of co

[2020-05-14 19:38] rmtmckenzie commented on #136
I'm closing this as a duplicate of #129.

[2020-05-14 19:38] #136 closed

[2020-05-14 19:40] rmtmckenzie commented on #131
I don't require any particular version of any of the firebase libraries, so that'll be down to the dependencies that FirebaseMobileVision is pulling in. You can specify specific versions in your Podfile if you need to - I don't want to tie anything to a particular version because it could break it for many other people.

[2020-05-14 19:40] rmtmckenzie commented on #131
Also, see #129 for some steps to make sure everything in cocoapods is up to date.

[2020-05-14 19:40] #131 closed

[2020-05-14 19:40] rmtmckenzie commented on #130
See #129

[2020-05-14 19:40] #130 closed

[2020-05-14 21:18] aiman5252 commented on #129
Hi Morgan, thanks for responding.
Yesterday I kinda fix the issue by removing firebase_core from pubspec.yaml...I have no idea why that cause an issue but right now I can build my app just like before.

[2020-05-14 21:41] booooza commented on #132
What is your targeted iOS platform in `ios/Podfile`? Switching from 8.0 to 9.0 installs 6.x versions of firebase packages (e.g. Firebase/MLVision 6.24.0 instead of 5.11.0 before) for my project (there are no other dependencies on Firebase).

[2020-05-20 19:18] #126 closed

[2020-05-24 01:38] albino-cervantes commented on #37
@samigimix you could make your sample code available using the timer for the callback

[2020-05-24 12:31] firstlevelIT commented on #57
Any change to have toggleFlash working?
I can't find the method in here.

[2020-05-25 14:31] DwayneCoussement commented on #97
This issue is still valid and reproducible. I had the same issue with having a tabbar where one tab was a QRCamera, and another tab had a navigator pushing in another QRCamera. I fixed it with using the `focus_detector` package and manually disposing / resetting it. However, I think we could do something similar (better) inside `qr_camera.dart`; to pause/start the camera so only one session would

[2020-05-25 21:19] Noninus opened #137 "Provokes error on build 'qr_mobile_vision-Swift.h' file not found"
Hi. I'm using this plugin, version `^1.0.1+1` in conjunction with `firebase_messaging: ^6.0.13` and `firebase_core: ^0.4.3+1`. When building in Android I have not problem at all building my app. But when I tried to build the iOS app, i get this error on build:

[code]

[2020-05-27 12:49] aiman5252 commented on #129
Update on another project. Now there's a conflict with Firebase Analytics.

[code]

Here's what I've been doing the past 2 days:
[code]

If I remove QR_mobile_vision plugin and/or firebase_analytics, the app runs just fine.
Is it possible for you to update MLVision dependency to Firebase/CoreOnly (=6.0.0)?

[2020-05-27 22:46] rmtmckenzie commented on #129
I don't depend on any particular version of anything - If you look at [the podspec](https://github.com/rmtmckenzie/flutter_qr_mobile_vision/blob/5ebf6c4602e673f4f6f42c970f32738cdcf4cb19/ios/qr_mobile_vision.podspec#L21) I simply depend on "Firebase/MLVision" and "Firebase/MLVisionBarcodeModel". The way Cocoapods is basically designed to work is that versions are all optionally specified in the Pod

[2020-05-27 22:47] rmtmckenzie commented on #129
You could try specifying specific versions in your Poefile as well as doing the full update procedure I outlined above (and make sure you have the most recent version of Cocoapods installed?)

[2020-05-27 23:13] ElZombieIsra commented on #129
It seems the problem relies on `Firebase/MLVisionBarcodeModel` itself. It depends on an outdated version of `Firebase/CoreOnly`. Maybe we need to wait or open an issue in the correspondent repo or issue tracker for MLVision

[2020-06-06 02:30] veeyaarVR commented on #132
@rmtmckenzie even I am facing the same issue even after updating it to `qr_mobile_vision ^1.0.1+1`
did someone actually solved this issue by updating the package?

[2020-06-06 15:55] imkarthikb commented on #132
@booooza's comment put us in right direction. I updated the IOS deployment target version from 8.0 to 9.0 and deleted the **Pods** and **Podfile.lock** files and did `pod install` where we can see firebase 6.26.0 version getting installed, and also after running `flutter build ios` the grep doesn't return anything the app gets uploaded successfully.
[code]

[2020-06-07 09:48] anwesh408 opened #138 "Does it detects 2D barcodes also?"
I have tried with the example mentioned in the repo, it detects the QR codes but does it also detects 2d bar codes ?
it looks like it doesnt. if not, could you please include the support for barcodes as well ?

[2020-06-07 09:49] anwesh408 opened #139 "Screen goes blank on lauching the app from"
I have tried creating a new project and followed the steps mentioned in the Readme page.
Added the required dependency in pubspec.yaml.
But when i install the app from Android studio the screen just goes blank after launching the application.

[2020-06-07 13:09] MarcosZamparo opened #140 "Problem with android.hardware.camera.autofocus"
I can't install my app in some devices that does not support android.hardware.camera.autofocus.
In these devices, the app does not appear to install.
![image](https://user-images.githubusercontent.com/66557904/83969462-8ead9700-a8a6-11ea-89bc-b0bbae76fdbb.png)

The problem is that these devices does not have autofocus feature.
Is there a work around to install even when the phone does not have aut

[2020-06-08 22:54] rmtmckenzie commented on #132
Oh interesting, I didn't realize the firebase library depended on iOS deployment version. I'll keep this issue open as a reminder to add that to the documentation for this plugin.

[2020-06-08 22:59] rmtmckenzie commented on #138
It should support all the types of barcodes that FirebaseMobileVision does:
[code]

If it doesn't work for a particular format, could you post the code you're trying to scan along with its type? It might also be worth specifying just that type in `formats` to see if it works better then.

[2020-06-10 09:30] devaronius commented on #59
bug still exist on IOS 12 & 13

[2020-06-16 12:38] anwesh408 commented on #138
ok Thanks.

[2020-06-16 12:38] #138 closed

[2020-06-20 06:29] all4alex commented on #129
If you already using firebase on your project, and you add this plugin you don't need to add FirebaseApp.configure()   in the AppDelegate. I am using firebase_messaging: ^6.0.16 and removing FirebaseApp.configure() fixed the Firebase core mismatch issue.

[2020-06-20 17:22] all4alex commented on #129
Also add platform :ios, '9.0' in podfile

[2020-06-23 12:20] bojidartonchev opened #141 "Capture area support?"
Hello,

Is there any way i can use full screen camera, but limit the capture area to a smaller rectangle. This would be very useful when trying to scan a single code out from many.

[2020-06-23 14:37] rmtmckenzie commented on #141
No unfortunately not really ATM. At some point I'm going to try to make the scan receipt include all of the information from the mobile vision library i.e. coordinates, which you could then use to filter the responses by. I honestly don't know when I'll have time to do that though.

[2020-06-24 07:10] RexNexstream opened #142 "Compilation error in xcode when using 1.0.1+1"
I had these error when try to compile iOS runner :

[code]
My app contain a notification service extension.
It is working fine in **qr_mobile_vision: 0.3.0**
but getting error above when updated to **qr_mobile_vision:^1.0.1+1**.

[2020-06-27 04:38] rcagantas commented on #127
Any workaround on this? It's blocking a release.

[2020-06-30 22:14] LeandroMoura3 opened #143 "Problem to detect image in 0.3.1 version"
People, this error is local or is any service of google that don't is working?
I can't read image, only show this message repeatedly.

I/Vision  (13817): Loading library libbarhopper.so
I/Vision  (13817): libbarhopper.so library load status: false
I/Vision  (13817): Request download for engine barcode is a no-op because rate limiting
W/DynamiteModule(13817): Local module descriptor class for com.g

[2020-07-05 15:11] andredealmei commented on #129
we need a fix

[2020-07-06 01:39] MoSamir commented on #142
Check the comments in this link , it helped building the iOS Project

https://stackoverflow.com/questions/52536380/why-linker-link-static-libraries-with-errors-ios

[2020-07-11 16:51] hrshs commented on #132
I set the deployment target version from 8.0 to 9.0 ann then run these commands

[2020-07-14 20:14] fabirt commented on #125
Hello, I'm using the version 1.0.1+1 and still have the same issue on Android Samsung J7

[2020-07-22 16:46] TBoonkwan commented on #24
@jaumard  How can i need to fix size the frame overlay. thank in advance

[2020-07-22 16:48] TBoonkwan commented on #24
I need to specific target the center and size = 200

[2020-07-23 13:19] Xaeroxaero commented on #125
Its also still occuring for me - Lenovo Tab10 PLUS. Also I have the same issue when lunching on android emulator with 6.0

[2020-07-24 09:13] dagba opened #145 "Crash on ios - com.apple.avfoundation.videodataoutput.bufferqueue"
com.apple.avfoundation.videodataoutput.bufferqueue
EXC_BREAKPOINT 0x0000000100a9df0c

QrReader.swift - line 183
specialized QrReader.captureOutput(_:didOutput:from:) + 183

[2020-07-31 13:42] okuribko opened #150 "Support for inverted barcodes"
I need to be able to scan inverted barcodes (white on dark background). I know that firebase mobile vision does not support this feature. Perhaps it is possible to invert the image from the camera and pass it to the mobile vision api. Any ideas how to achieve this?

[2020-08-09 19:47] RicardoHds opened #151 "Web support"
Working for web support?

[2020-08-09 20:13] rmtmckenzie commented on #151
Firebase Mobile Vision doesn't support web, so unfortunately at this time this library won't either.

[2020-08-09 20:13] #151 closed

[2020-08-20 02:51] taroooth commented on #125
I might have been able to avoid this problem.
[code]
The logs like above have been output, so if I stopped the camera before closing the camera, I avoided the crash in my environment.

[code]

[code]
Please try it. Thank you!

[2020-08-27 08:10] Bunny1376 commented on #57
getQrCodeView() is undefined and i can not find a solution to make it work, please help

[2020-09-30 21:56] flutterone commented on #141
This can be implemented on dart, take the coordinates of the rectangles and map to that detection or intersection area.

[2020-10-03 18:41] RafatMeraz commented on #57
Same here brother.

[2020-10-03 18:45] RafatMeraz opened #153 "No turn flashlight on and off"
When you guys gonna fix this issue! This package is awesome, but this flashlight issue really painful.

[2020-10-06 06:16] rmtmckenzie commented on #153
I'm half way through a refactor that would fix that along with a bunch of the other issues but I honestly just haven't had time to work on it for a very long time. I do still want to get that out there but I also really don't know when I'll have time again.

[2020-10-06 06:36] RafatMeraz commented on #153
Thanks for getting back to me. I hope you will complete it soon sir.

On Tue, 6 Oct 2020, 12:16 pm Morgan, <notifications@github.com> wrote:

[2020-10-15 18:28] jeancarlos2020 opened #154 "QrCameraC1.java uses or overrides a deprecated API."
![image](https://user-images.githubusercontent.com/6289980/96171210-389ecf00-0eea-11eb-881f-727bf5457233.png)

[2020-10-17 19:33] rmtmckenzie commented on #154
This has been reported previously. QrCameraC1 user a deprecated API... because it needs to use the Camera V1 deprecated API. It isn't used on devices that support the newer CameraV2 api.

[2020-10-17 19:33] #154 closed

[2020-10-19 03:26] LaxmikanthMadhyastha opened #155 "Scanner crashes on Android 6.0 after reading the barcode"
Thanks for this package,
I am trying out this package and it works as intended on most of the devices that I have checked, however, the scanner crashes immediately after reading the barcodes on devices with android version 6.0 and 6.0.1.
It works fine with android version 5 and also version above 6.

### Log from the device

<details><summary>Click To Expand</summary>

[code]
</details>

### Flutt

[2020-10-19 06:17] LaxmikanthMadhyastha commented on #155
### UPDATE : I tried [this](https://github.com/rmtmckenzie/flutter_qr_mobile_vision/pull/148) pending merge request, it is working fine on both Android 6 and higher version.

[2020-11-02 05:11] LaxmikanthMadhyastha commented on #123
Hi, this is a very good feature.
Any timeline planned on this?
Thank you.

[2020-11-02 09:44] #127 closed

[2020-11-02 10:33] shoaibomar opened #156 "Uses outdated version of Firebase ML so not compatible with newer versions of firebase services"
Running Gradle task 'assembleDebug'...

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':app:checkDebugDuplicateClasses'.

     Duplicate class com.google.android.gms.internal.vision.zzf found in modules jetified-play-services-vision-20.0.0-runtime (com.google.android.gms:play-services-vision:20.0.0) and jetified-play-services-vision-common-19.1.0-runtime (c

[2020-11-05 16:51] mo-ah-dawood commented on #156
is there any workaround for this

[2020-11-06 20:26] luis-cruzt commented on #156
I'm having this same issue right now.

[2020-11-07 11:52] mavyasoni786 commented on #156
I am also facing the same issue.

[2020-11-08 19:44] rmtmckenzie commented on #156
I haven't had time to do a full test and push a new version but try using the 'use-mlkit' branch. I'd appreciate any feedback, and I do plan on pushing it when I have time.

[2020-11-09 16:13] Manuel-Indlekofer commented on #156
@rmtmckenzie i think the mlkit barcode dependency 16.0.0 in the build.gradle  is causing some firebase issues and needs to be updated to a newer version

[2020-11-10 10:33] rmtmckenzie commented on #156
@Manuel-Indlekofer I bumped it to 16.0.3. I've been building just fine though and I'm using a few firebase dependencies. It might be worth doing a flutter clean in case old firebase dependencies are still hanging around for some reason. If not, paste the results of `./gradlew dependencies` from the android folder here and I can take a look.

[2020-11-10 11:09] Manuel-Indlekofer commented on #156
@rmtmckenzie Hi, thanks in advance for investigating this issue! Cleaning does not work the occuring error is exatly the one described by

[dep.txt](https://github.com/rmtmckenzie/flutter_qr_mobile_vision/files/5516782/dep.txt)
https://scans.gradle.com/s/7r6hiygrbnqes

[2020-11-10 14:26] rmtmckenzie commented on #156
Just looking at your dependencies, I'm not seeing com.google.mlkit:barcode-scanning at all, which makes me think you must still be hooked up to the old version.

Does your pubspec look something like this:

[code]

When you `flutter pub get` you should see a message saying something like this:

[code]

In particular check that the commit is 736c91 as that's what includes the changes that I've been

[2020-11-10 15:32] Manuel-Indlekofer commented on #156
I can reproduce this issue in a brand new sample flutter project by utilizing these dependencies:
In Pubspec:
 qr_mobile_vision: ^1.0.2
  firebase_core: ^0.5.1
  firebase_crashlytics: ^0.2.2
  firebase_messaging: ^7.0.3
  firebase_analytics: ^6.1.0
  firebase_in_app_messaging: ^0.2.1
in build.gradle:
 classpath 'com.android.tools.build:gradle:3.5.4'
        classpath "org.jetbrains.kotlin:kotlin-g

[2020-11-10 15:37] rmtmckenzie commented on #156
I'm perfectly aware that there's an issue with qr_mobile_vision 1.0.2, and plan on releasing a version that fixes it soon. I've outlined the way that you can test that fix immediately - using the dependency override to use the git repository directly as I wrote in my last post and the one before it.

[2020-11-10 15:42] Manuel-Indlekofer commented on #156
Thx, i am using this fix currently. I just listed my dependencies because of your reply:

[2020-11-11 05:06] LaxmikanthMadhyastha commented on #156
Hi thanks a lot for the update, I tried using the use-mlkit branch and everything seems to be working fine :boom:

[2020-11-18 09:50] LaxmikanthMadhyastha opened #158 "Barcode not detected when we increase the camera size to full screen"
I was having a problem-related to autofocus on redmi note 6 pro phone and tried increasing the camera preview width and height thinking if it is something related to the resolution. Interestingly after increasing the preview size, the barcodes are not getting recognized even on the devices which used to recognize the barcodes, also sometimes it gives random values even without scanning a barcode.

[2020-11-24 20:08] vanfresh commented on #156
Any update on this?

[2020-12-11 18:59] GyuriMajercsik commented on #156
Thanks @rmtmckenzie  for the plugin. The `use-mlkit` branch works nice for Android but the build fails for iOS. It seems to be  similar to https://github.com/rmtmckenzie/flutter_qr_mobile_vision/issues/96 . Below you can find my logs:

[code]

[2020-12-11 21:51] rmtmckenzie commented on #156
sry all, I'm going to try to take a look at this this weekend - I should finally have a bit of time!

[2020-12-12 15:07] lovelessX commented on #156
I'm also stuck on this issue right now.

[2020-12-16 10:44] azharj96 opened #159 "Crash on iOS Simulator: Unexpectedly found nil"
## Crash when running `1.0.2` on Simulator (iPhone 12 Pro):

```Unexpectedly found nil while unwrapping an Optional value: file qr_mobile_vision/QrReader.swift, line 138```

#### Flutter doctor:
[code]

#### Expected behaviour:
The simulators have no camera support so an error is expected. An error returned from the `onError` callback would be ideal.

[2020-12-18 07:32] rmtmckenzie commented on #156
I've pushed an update to the MLKit - can anyone try testing it out? It sounds like 32 bit will never be supported by MLKIT, so if that's something you need then you may need to revert to using an older version of this plugin.

I've updated the podfile to specify this, and the demo project builds just fine for me. If someone could confirm whether this has solved the problem that'd be great =).

If

[2020-12-18 08:12] GyuriMajercsik commented on #156
I verified the changes and the build still fails.

[code]

[code]

[2020-12-18 08:17] vanfresh commented on #156
You may need to update the Architectures to amd64 only.  I posted this on another plugin:

https://github.com/tekartik/sqflite/issues/536#issuecomment-734682973

[2020-12-18 10:32] rmtmckenzie commented on #156
okay thanks guys. The simple solution is to require iOS 11. As soon as you set the build to 11 it should just work. I'm going to set the podspec to ask for iOS 11 and write an explanation into the readme.

If you need to target before iOS 11, that's fine - you'll just have to make sure you have your build architectures set to just arm64 (i.e. ARCHS_STANDARD_64_BIT)... but you will be missing out o

[2020-12-18 13:08] GyuriMajercsik commented on #156
Thanks @rmtmckenzie , with the latest `use-mlkit` branch I get the following error on Android.
This worked before. Is there something I can do on my end ?

[code]

[2020-12-18 18:44] lovelessX commented on #156
Seems to be working for me building on both iOS and Android. iOS is scanning barcodes fine, but Android seems to not actually pick up barcodes.

[2020-12-18 21:14] rmtmckenzie commented on #156
@GyuriMajercsik hmmm I integrated a change someone had made to fix a crash on android 6 with the image not being closed properly, but apparently that has introduced something new. I'll give it a test on a few more devices...

[2020-12-18 22:43] rmtmckenzie commented on #156
Okay fixed and published as 2.0! =)

[2020-12-18 22:43] #156 closed

[2020-12-22 13:05] LaxmikanthMadhyastha opened #160 "App crashes on reading barcode."
I have upgraded the package to use the new ml-kit version and sometimes the app crashes on reading the barcodes with the below error.
This seems to be happening with the new version only and recently I started getting this crash.

[code]

### Flutter doctor

<details><summary>Click To Expand</summary>

[code]

</details>

---

[2020-12-22 15:06] #160 closed

[2020-12-26 14:43] LaxmikanthMadhyastha commented on #123
Hey, @subinsv @rmtmckenzie I have made the changes to expose the Barcode model from firebase instead of just the string.
If that is fine I can create a pull request to merge the same.
You can this in my forked repo [here](https://github.com/LaxmikanthMadhyastha/flutter_qr_mobile_vision)

Do check it out and let me know if any changes are required  :)

[2020-12-26 14:53] LaxmikanthMadhyastha commented on #92
Hey @khainke I have made changes to expose the barcode model from firebase which includes the bounding box of the detected barcode as well, which you can use to create the overlay. Check it out [here](https://github.com/LaxmikanthMadhyastha/flutter_qr_mobile_vision).

[2020-12-26 14:56] #158 closed

[2020-12-27 03:04] khainke commented on #92
Thanks, looks like a nice change. But, currently im no longer in need for this. Nonetheless, i think it could be a beneficial addition to the main branch.

[2020-12-27 16:29] imeDevelopers opened #163 "Didn't work any more !"
the plugin didn't work any more ..
the callback function not triggered ...

tried many times, different qr codes , but same results ..
plugin versoin: 2.0.0
test device: Realme 5
android: 10
flutter Version: 1.22.5 stable
dev system: win 10
android studio: 4.1.1
gradle: 6.1.1
compilesdk: 30
targetsdk: 30

[2020-12-28 07:13] lexia0611 opened #164 "Not work with other Size of Container or SizedBox"
QR Code will not work (can't read anything) when different size other than 300 x 600 like Example. Tried fit property not work too

[2020-12-29 03:12] crcaicedo commented on #163
Same problem here, not working at all

plugin versoin: 2.0.0
test device: Moto G6+
android: 9
flutter Version: 1.22.5 stable
dev system: MacOs BigSur
android studio: 4.1.1
gradle: 5.4.1
compilesdk: 29
targetsdk: 29

[2020-12-30 11:06] GabrieleVolpato commented on #163
I'm facing the same problem.

plugin versoin: 2.0.0
test device: Mi A3
android: 10
flutter Version: 1.22.5 stable
dev system: MacOs BigSur
android studio: 4.1.1
gradle: 6.7
compilesdk: 30
targetsdk: 30

[2021-01-02 00:45] david-adewoyin commented on #153
are you still planning on adding the flashlight , it will be a great help. Anyway thanks for the plugin is very nice and easy to use

[2021-01-11 09:58] jasondelport commented on #163
Hi,

I was able to fix this issue by bumping the gradle dependency version of MLKit.

Go to:

/Users/{username}/.pub-cache/hosted/pub.dartlang.org/qr_mobile_vision-2.0.0/android (on mac)

open build.gradle and change mlkit dependency to latest version.

dependencies {
    implementation 'com.google.mlkit:barcode-scanning:16.1.0'
}

[2021-01-15 20:41] ksdme commented on #155
Bump

[2021-01-19 16:03] itsJoKr commented on #163
Having similar issue, might be connected:

- Samsung S7 - everything works as expected
- OnePlus 6 - doesn't work. Was able to scan one barcode and 0 QR, data matrix codes.

Bumping MLKit version did not fix it.

[2021-01-25 13:59] RickZzDev opened #165 "BarCode Scrambeld"
I'm trying to read a bar code on itf format, but for some reason, it gives me a scrambeld value and sometimes the right value, i have already defined format to itf

[2021-01-28 16:14] fabmatz opened #166 "Switching camera"
Hello,
I like your plugin a lot, because it is fast and scans continuously. Is there a way to switch to the front camera? I couldn't find a way how to switch at your plugin.

Greetings and you do a really good job!
Fabian

[2021-02-04 02:30] prateekmedia opened #167 "How to Load QR from file?"

[2021-02-05 21:46] pablo-johnson commented on #129
This worked for me! thanks!

[2021-02-07 15:59] #167 closed

[2021-02-08 02:02] prateekmedia commented on #167
@rmtmckenzie Any reason why you closed this, the title was enough to describe the problem?

[2021-02-08 02:04] prateekmedia commented on #167
@rmtmckenzie I asked it here cause their isn't any other place to ask this and also the method to do this is not in the readme.

[2021-02-08 02:23] rmtmckenzie commented on #167
That's one reason. You need to provide way more details for this to be a useful query. I can't tell what you're asking; are you wanting to read the data out of a qr code that's in an image file? And if you're wanting to, that depends on a lot of things like the format of the image file, whether it's from the native system or something you're loading from a URL.

The second reason is that if you ar

[2021-02-10 16:15] TercyoStorck commented on #163
Found a workaround for android. Go to /android/build.gradle and add this to your dependencies:

`implementation 'com.google.mlkit:barcode-scanning:16.1.0'`

[2021-02-26 23:30] radvansky-tomas opened #168 "Crash - permission change"
I am using App Settings plugin to handle invalid permissions, however on way back app crashes:

https://github.com/spencerccf/app_settings/issues/78

[code]

[2021-03-01 13:24] Manuel-Indlekofer commented on #163
This seems to be device/screen size related. While working fine on a large variety of phones, it was not working on a pixel 5. I think it is related to the size of the preview, beacause it did work on the pixel 5, after changing the dimensions of the camera preview

[2021-03-04 07:28] DevNico opened #169 "NNBD Null safety support"
Flutter 2.0 is out and with it comes stable null safety support. This is one of the last packages we depend on that doesn't have a null safe version, blocking use from migrating. Is work on null safety already in progress? If not here is the migration guide https://dart.dev/null-safety/migration-guide. Would be awesome to have a null safe release of this (btw awesome) package soon!

[2021-03-04 09:24] gyenesandras commented on #163
I'm facing the same issue. Barcode scanning works fine on many Android phones but it does not work on a Pixel 4.

@Manuel-Indlekofer, what did you mean by changing the size of the preview? Did you change the size of the QrCamera widget to a static value?

[2021-03-04 10:10] Manuel-Indlekofer commented on #163
@gyenesandras yes. For testing purposes i set the preview to a fixed size of 300x600. This worked fine on the pixel5. I also had success using the suggested dependency

[2021-03-04 11:40] gyenesandras commented on #163
@Manuel-Indlekofer, thank you!

[2021-03-09 18:31] rmtmckenzie commented on #169
I do _intend_ to do it soon, but whether I get time is another question - I've not had any in quite a while to invest into this package.

[2021-03-17 23:45] rmtmckenzie commented on #169
Closed by #171

[2021-03-17 23:45] #169 closed

[2021-03-30 20:25] vgtle opened #172 "[Feature Request] Support for getDisplayValue()"
Currently the raw value is returned from the scanner. While this is suitable for some cases, when using different formats, it get difficult to extract the actual value from the code returned from this library as this is different for each format. Beside the `getRawValue()` (See [Documentation](https://firebase.google.com/docs/reference/android/com/google/firebase/ml/vision/barcode/FirebaseVisionBa

[2021-03-30 20:25] vgtle commented on #165
Can you try to use my [fork](https://github.com/rmtmckenzie/flutter_qr_mobile_vision/compare/master...vgtle:master). This could be the reason, because the package internally uses `getRawValue()` instead of `getDisplayValue()`. I wrote about this in my own issue [See here](https://github.com/rmtmckenzie/flutter_qr_mobile_vision/issues/172)

[2021-03-30 20:32] vgtle commented on #172
If providing both options in the qrCodeCallback is a valid option, I would not mind to implement this and provide a PR for this

[2021-04-12 03:42] andriesatya commented on #163
Hi, any idea how to reproduce this in the emulator? I've tried to make an emulator with screen size 480 x 800, but still can't reproduce the issue.

[2021-04-17 21:19] rainorth opened #173 "Web Support"
Just wondering if there will be any support for Flutter Web? Thank you.

[2021-04-20 14:21] maganap commented on #166
@fabmatz I need to use the front camera as well. Did you find a solution or any other plugin that helps? Thanks in advance

[2021-04-21 15:06] fabmatz commented on #166
@maganap I made my one durty fix. After downloading the package, i changed the package code. I only needed for Android and after a view tries i figured out, that a change in file "QrCameraC2.java" helped me. It path is "C:\src\flutter\.pub-cache\hosted\pub.dartlang.org\qr_mobile_vision-2.0.0\android\src\main\java\com\github\rmtmckenzie\qrmobilevision".
Probably depending on your need you have to t

[2021-04-26 00:15] WoLpH opened #174 "[Feature request] Fetch entire image that matched"
I have a use-case where I need to fetch the entire image, and if the QR code matches I know the rest of the details should be sharp enough for me to use.

Is there any easy way of doing this?

[2021-04-26 12:38] rmtmckenzie commented on #174
The easiest solution might be to use something like this : https://pub.dev/packages/screenshot. However, that's only going to be at the resolution of the screen.

If you need to capture a higher quality shot, that's going to require some custom code - that could potentially be a new feature but I realistically don't think I'll have any time to work on it any time soon.

[2021-04-26 22:40] WoLpH commented on #174
Interesting option but the resolution will be too limited for my case.

Alternatively, is it an option to take a picture from flutter and send that to QR Mobile Vision for QR detection? It's less ideal but I think that would work for me.

[2021-04-27 13:51] rmtmckenzie commented on #174
Hmmm.  If you want to do that I'd try using the flutter camera plugin in conjunction with the official(ish) firebase mobile plugin: https://pub.dev/packages/firebase_ml_vision.

The performance and feature set of those plugins wasn't conducive to what I needed which is why I wrote this one (plus they limit support to pretty recent versions with the camera plugin especially), but nowadays (and once

[2021-04-27 21:48] rmtmckenzie commented on #174
np =). I'll leave the issue open for now as this _may_ be something I'd consider in the future if I ever get time to work on the plugin again.

[2021-04-29 01:18] AlexOliveira123 opened #175 "Can't use the flash with qr_mobile_vision? If is possible, how can I do it?"
I'm trying to find a way to turn on the flash when using the plugin, but to no avail.

[2021-05-03 06:02] jaysson commented on #160
@LaxmikanthMadhyastha I am facing same issue. How was this fixed?

[2021-05-03 06:04] armaan98 commented on #175
Yes. I also need that.

[2021-05-03 06:06] LaxmikanthMadhyastha commented on #160
It was crashing for me because of the resolution change for the camera that I made, do not keep the highest resolution.

[2021-05-03 06:23] jaysson commented on #160
I am only doing this:

[code]
Can't find anything about resolution in docs.

[2021-05-03 06:32] LaxmikanthMadhyastha commented on #160
Right, resolution change was made by me in native code for some specific requirement hence this crash was happening, it can be a device-specific issue or any other reason for you, try testing with some other device.

[2021-05-04 10:47] selvam920 opened #176 "apk size big"
when i build the file size in 20 MB it's too big

[2021-05-14 08:01] itsJoKr opened #177 "[Feature request] Opt-out of permission handling"
For a good user experience, handling the permission is never just that one native permission dialog.
It would also include some UI when you deny, and a different UI when it's permanently denied that will help the user to open the settings, usually with some nice graphics...

It's almost impossible to build this kind of experience because this package will control permissions. Two biggest problems

[2021-05-14 08:52] itsJoKr commented on #175
There's no way to do this. There was one fork that had the flash functionality.

I think the biggest issue is that in Android there can be only one camera callback. Since this library takes that callback, it's impossible to turn on flash with a separate channel.

[2021-05-17 20:08] luismarcilio opened #178 "on IOS, format is ignored"
Hello. Thank you for the package, in first place.

I noticed that it does not pass the format parameter to IOS barcode scanner, [here](https://github.com/rmtmckenzie/flutter_qr_mobile_vision/blob/master/ios/Classes/QrReader.swift#L124)

It would be much appreciated if you could fix that in a future release.

Thanks.

[2021-05-23 00:38] ncalderini opened #179 "Build fails iOS with Firebase"
Hello, thanks for this great package!

I'm having troubles trying to compile my app while using firebase, I'm getting a pod error

[code]

My pubspec is:

[code]

I also tried to use older firebase versions but error persists. Any help is appreciated!

[2021-05-23 05:55] salehahmedZ commented on #179
Until MLKitCommon gets updated, here is the compatible firebase packages versions

  cloud_firestore: ^2.1.0
  firebase_core: 1.1.1
  firebase_auth: ^1.1.4
  firebase_analytics: ^8.0.4
  firebase_messaging: ^9.1.4
  firebase_crashlytics: ^2.0.3
  firebase_storage: ^8.0.6

[2021-06-01 14:47] hugopretorius914 commented on #179
Firstly, thank you for the plugin - it's great.  @rmtmckenzie are you able to update this soon to fix this issue?

[2021-06-02 10:05] bojidartonchev commented on #179
I belive we are waiting for Google to update the MLKit for iOS.

https://developers.google.com/ml-kit/release-notes

[2021-06-02 10:05] bojidartonchev commented on #179
I belive we are waiting for Google to update the MLKit for iOS.

https://developers.google.com/ml-kit/release-notes

[2021-06-04 15:17] AlexOliveira123 commented on #175
Any feedback?

[2021-06-14 18:37] AlexOliveira123 commented on #175
https://github.com/rmtmckenzie/flutter_qr_mobile_vision/pull/66

This pull is apparently adding flash functionality to the package. This pull could be merged to help us.

[2021-07-01 04:14] quocviet1996 commented on #179
Okay so they released a new version to fix this issue yesterday, so i hope we can upgrade this plugin soon, thanks

[2021-07-01 06:32] rmtmckenzie commented on #179
technically, the plugin doesn't require any particular version of the `GoogleMLKit/BarcodeScanning` library (see the podspec). So theoretically all you should have to do is a `pod update` or you could require the most recent version directly in your podfile.

Could anyone who has seen the issue confirm this? I've been really lazy about updating my app's firebase_messaging dependency so I haven't a

[2021-07-01 06:34] rmtmckenzie commented on #179
Or maybe you'll have better luck with `pod update --repo-update`, in the iOS folder after updating your pubspec and running `flutter pod update` of course.

[2021-07-02 02:12] lovelessX commented on #179
@rmtmckenzie Seems like you're correct, I was able to do a repo update successfully with this combination of Firebase-related libraries.

firebase_core: 1.3.0
firebase_auth: 2.0.0
firebase_storage: 9.0.0
google_mobile_ads: 0.13.2
firebase_crashlytics: 2.0.3
firebase_analytics: 8.1.2

IMO, this issue can be safely closed.

[2021-07-02 14:36] #179 closed

[2021-07-15 14:53] RedJohnTP opened #181 "App crash on android (Fatal signal 11)"
Hello everyone,
I've been facing the following issue: After a random number of scans, the application crashes after the scan is complete.
It occurs both when running the app in degub mode over USB on a real device and when running the app in release mode via installed apk.

I am not changing in any way the camera's  resolution #160 .
I also tried solving the issue by using the example given in #11

[2021-07-21 08:03] abhisheks-iprogrammer commented on #57
getQrCodeView method  will return widget .UI which is inflated for Scanning
QrCamera(
            key: qrCameraKey,
            onError: (context, error) => Text(

            ),
            qrCodeCallback: (code) {

                  });
                }
              }
            },
            child: Container(
              decoration: BoxDecoration(
                color: Colors.transparent

[2021-08-12 13:19] tigertore opened #182 "Detection resolutions affects performance"
Hi,
Thanks for a great flutter plugin.
I have tested this plugin on some Android devices,
and I see very different detection image resolutions.
Also within different pages in the same App on the same device.
In one page I get detection image resultion of 3648 x 2736.
On another page I get 640x480.

Inspecting it with the debugger I see that my Huawei P30 Pro
returns a list of camera resolutions wh

[2021-08-19 18:43] lovelessX commented on #175
This also would be incredibly useful for my project.

[2021-08-20 08:26] Henrik-glt opened #183 "iOS bitcode: ITMS-90562: Invalid Bundle"
Hi!

Adding qr_mobile_vision to our app causes App Store Connect validation to fail.
The app builds just fine. No problem running or exporting the app.
But something with qr_mobile_vision and bitcode seems to cause the problem.
We need bitcode because we have an AppleWatch app.

"Error message" from Apple:

Dear Developer,

We identified one or more issues with a recent delivery for your app, "APP

[2021-08-20 16:26] rmtmckenzie commented on #183
Hi Henrik. Unfortunately, this plugin is only tangentially the problem. We use the `GoogleMLKit/BarcodeScanning` pod, which is what google provides for QR code scanning, and is almost certainly what causes the problem. The swift code used in this plugin would be built along with your build, but the BarcodeScanning pod includes binaries from Google that I have no control over.

I would recommend op

[2021-08-23 05:12] Henrik-glt commented on #183
Thanks! I was under the impression that the whole app bundle (iOS, watch , etc.) needed to have bitcode enabled when shipping an app with AppleWatch extension. Works fine when I disabled bitcode for iOS target.

[2021-08-23 05:12] #183 closed

[2021-09-04 20:39] maxlapides commented on #183
Update: there will be a fix for this issue in the next MLKit release at the end of this month.

https://github.com/googlesamples/mlkit/issues/347#issuecomment-913034936

[2021-09-20 19:21] Naweap commented on #178
@luismarcilio Did you find any workaround about that ?

[2021-09-20 19:33] luismarcilio commented on #178
No. I forked the code and forced the format I needed and used it from my fork.
You can have a look at it here:

https://github.com/luismarcilio/flutter_qr_mobile_vision/blob/385a9f77a6404174e9903a84efc7d72a32b99bf8/ios/Classes/QrReader.swift#L124

[2021-09-20 19:46] Naweap commented on #178
@luismarcilio First thanks for your quick answer.

Do you think there could be any way to use the provided formats list. For exemple using the options parameter ?

I use many formats in my app and it's mandatory for me.

[2021-09-20 20:03] luismarcilio commented on #178
You can try to fix it. Check the java code in android directory. It seems well written.
You can get more information in Google's documentation: https://developers.google.com/ml-kit/reference/swift/mlkitbarcodescanning/api/reference/Classes/BarcodeScanner
If you fix it, you could contribute and do a pull request to package.

[2021-09-22 13:52] rmtmckenzie commented on #178
Hey guys! Sorry, I really haven't had any time to work on this plugin for a while, but if you do a PR I'll merge it ASAP. Otherwise if you can wait until November I'm going to have a lot more time then so I should be able to get to things like this!

[2021-09-23 14:15] mhilalsh commented on #150
did you find any package or solution for that? I'm trying to scan an inverted data matrix code but still no clue.

[2021-09-23 14:22] mhilalsh opened #185 "[Feature Request] Reading and scanning inverted Datamatrix code"
I'm trying to read inverted datamatrix code (light on dark/white on black) but it's not detecting or scanning it at all.

[2021-09-27 08:08] rmtmckenzie commented on #185
Sorry, I'm not going to be able to do much to help you I'm afraid. You'd be better off asking the Google team for MLKit as this plugin just wraps around their library and uses it to do all of the scanning.

You could theoretically branch this repository, and put an intermediate step in between receiving the image frame and sending it to the library for processing where you invert the colours of ea

[2021-09-27 17:38] ryanduffyegov commented on #178
I also have a need for this to work in both iOS and Android.  I am willing to help test the fix if some one has this working.

[2021-09-28 21:12] rmtmckenzie commented on #183
Hopefully you weren't waiting on the release of MLKit, but the new version has been released now. You can use it without anything changing the plugin by running `pod update --repo-update`

[2021-10-03 13:03] mhilalsh commented on #181
I have the same case and the same problem and I don't know what to do..

[2021-10-11 11:46] mhilalsh commented on #185
@rmtmckenzie can you just tell me where to find the function where I can add this step to invert the colors?
may I also know what Camera package are you using for the camera preview?

[2021-10-12 06:00] rmtmckenzie commented on #185
I'm not using any camera package - the code is written directly in the repository. That's why this won't be simple to do.

The place to do this would probably be in the [QrDetector class](https://github.com/rmtmckenzie/flutter_qr_mobile_vision/blob/b9e67ebec918492488bb043672f6d6a7fa463b10/android/src/main/java/com/github/rmtmckenzie/qrmobilevision/QrDetector.java#L62) for android and somewhere aro

[2021-11-08 02:51] #143 closed

[2021-11-18 02:28] matsushitak commented on #141
@flutterone
How can i do it?

[2021-12-02 04:43] selvam920 opened #186 "android.hardware.camera.autofocus issue"
pls make it android.hardware.camera.autofocus required false in the androidmanifest.xml
we are unable to install some devices from play store.

[2021-12-02 04:43] selvam920 commented on #186
android.permission.CAMERA also make it false

[2021-12-12 14:26] science64 opened #187 "How to to get barcode type and zoom function?"
Thank you very much, this is really a great plugin but I cannot manage to get barcode type when it scanned whether it is Ean13 or ean8 or so, and I would like to implement camera zoom function but I am not sure whether it is possible or not. Thanks in advance

[2021-12-16 10:54] FMorschel commented on #164
Hi, I've used flutter_qr_mobile_vision for some time and had no problems with size, can you make a minimal reproducible code and run `flutter doctor -v` please?

e.g. I've used this package with [floating_overlay package](https://pub.dev/packages/floating_overlay) and it works just fine. `SizedBox.fromSize` of a fraction of `MediaQuery.of(context).size` (so that the proportions are right) and it w

[2021-12-16 10:54] imeDevelopers commented on #163
Hi all, i found a solution long time ago and the plugin works, but i forgot this open issue. so i currently writing this comment when i saw this thread.

Just change the size of camera widget to 600X600 and it will work ...

But the QrCamera() widget inside Container() widget with height 600

and it will work, thank you.

[2021-12-16 11:21] FMorschel commented on #110
Here is a minimal reproducible code with the Flutter's intended way to detect and manage route.

<details>
  <summary>Click to expand!</summary>

[code]
</details>

[2021-12-16 11:24] FMorschel commented on #6
Hi! Maybe you could wrap the QrCamera inside an Offstage widget or even a Visibility, both would make the widget invisible with the right parameters, just you would not have any confirmation that the camera is working and no error happened.

[2021-12-31 16:01] MatheusLimaN commented on #178
Hello, I did a PR to solve this issue, it worked for me, I hope it helps. (https://github.com/rmtmckenzie/flutter_qr_mobile_vision/pull/188)

Tested on iPhone XR

[2022-02-03 22:14] pynner commented on #50
Did anyone here find a successful workaround / fork? Looks like this issue is still here - having multiple users on OnePlus devices not be able to scan

[2022-02-07 17:54] pynner commented on #145
Any luck debugging this one?

[2022-02-07 19:14] pynner opened #192 "Apple crash - com.apple.root.default-qos"
Thanks for the great plugin, have recently deployed it and mostly working great.

Since deploying this Crashlytics error has popped up, no user reports yet so no extra details available.

[code]

[2022-03-16 09:56] atarana commented on #150
Still no updates about this issue?

[2022-03-16 10:47] mhilalsh commented on #150
@atarana I've solved that long ago using google ml kit, I took frames using flutter camera preview and manipulated the YUV image bytes taken by the stream and sent it to the ml kit to scan it and it worked..
that's the only way I found

https://github.com/bharat-biradar/Google-Ml-Kit-plugin/issues/148

[2022-04-05 00:43] yeminsoe opened #194 "POD INSTALL"
I added ${ARCHS_STANDARD_64_BIT} in XCode -> Runner -> Build Settings -> Architectures -> Architectures before 11.0.
but  I see a warning during the pod install and can not update POD. How should I do the devices before 11.0
Could you advice me , please? thanks you so much.

[2022-05-09 13:27] RedJohnTP commented on #181
I know that it does not solve the issue but, in the end, I switched to a different package (flutter_barcode_scanner) that delivers the same functionality.

[2022-05-09 16:04] nholmvio commented on #181
@RedJohnTP

Thanks - i'm swapping out now.
I've swapped QR packages several times now....thought this (at the time) was going to be the one to go with.  Frustrating to have so many issues with this.

[2022-05-10 12:05] richardscollin commented on #181
I think I encountered this issue and may have fixed it by modifying the repo and forcing it to use the old camera api internally (not the best solution).  It's so long ago a don't remember exactly. I might have done this due to a device specific issue though.

[2022-05-17 22:44] #182 closed

[2022-05-18 07:07] MathiasCochet opened #196 "[CR] native_device_orientation has a newer version (Flutter 3.0 w. support)"
https://github.com/rmtmckenzie/flutter_qr_mobile_vision/blob/master/pubspec.yaml

update native_device_orientation version 1.1.0 -> 1.1.2

[2022-05-18 08:14] #178 closed

[2022-05-18 08:14] #173 closed

[2022-05-18 08:14] #166 closed

[2022-05-18 08:15] #153 closed

[2022-05-18 08:15] #176 closed

[2022-05-18 08:29] #137 closed

[2022-05-18 08:31] #41 closed, assigned to nobody

[2022-05-18 08:33] #139 closed

[2022-05-18 08:34] #140 closed

[2022-05-18 08:34] #142 closed

[2022-05-18 08:34] #145 closed

[2022-05-18 08:35] #155 closed

[2022-05-18 08:35] #164 closed

[2022-05-18 08:39] rmtmckenzie commented on #181
Hmmm. there used to be some fairly serious memory leaks around the platform views, but I thought that the flutter team had finally fixed that a while ago. I'm not actively working on an app using this any more so I'm going to have more limited exposure to it, but I'll do my best to figure out what's going on...

[2022-05-18 08:44] rmtmckenzie commented on #194
hmm. I have it set to iOS 11+, but according to google's docs, I _should_ be able to go down to iOS 10. For now you could try forking the repo and setting `s.platform: ios, '10.0'` in the podspec, but I probably had a reason to set it to 11...

[2022-05-18 08:47] rmtmckenzie commented on #196
I'm aware, I wrote that plugin too =D. I've published a beta version of this plugin (4.0.0-dev.1) as there's a few things I'm still not 100% sure work in the new version, so if you're brave you could try it out (I did test on my usual Pixel3a/Nexus4/iPhone7 test devices though and things seem to be working).

[2022-05-18 08:47] #196 closed

[2022-05-19 10:41] maganap commented on #166
@rmtmckenzie I see it's now a configurable property. Awesome, thanks!

[2022-05-19 17:21] rmtmckenzie commented on #166
oh whoops thanks, I'll fix that

[2022-05-24 16:24] octaviodivy commented on #177
Updates here?

[2022-06-05 17:00] rmtmckenzie commented on #177
I don't currently have much time to spend working on this, but would gladly accept a PR. Realistically, I put the permissions handling in just as a stop-gap and it was never really intended to be an all-round solution (and when I first made this, there was no good flutter alternative).

Can you elaborate on your first point? What exactly is going on there, this plugin is doing something with the p

[2022-06-08 05:58] TKFRvisionOfficial opened #198 "Reading Binary Data"
https://developers.google.com/android/reference/com/google/mlkit/vision/barcode/common/Barcode#public-byte[]-getrawbytes

Since it is Supportes now by ml kit it should be a breeze.

[2022-06-08 22:20] atarana opened #200 "CameraX ML KIT giving error " java.lang.IllegalStateException: Image is already closed"

[2022-07-01 09:46] wahid8080 opened #203 "How to enable Camera Autofocus When scanning pdf417 format"

[2022-08-04 13:18] lekhaiphtech opened #205 "Scanning is not working on Android while upgrading to 4.0.1"
When I upgraded to latest 4.0.1, scanning stops working on Android device and on iOS device its working fine.
Scanning was working perfectly when I was using 3.0.1 version.

Attached log file
<img width="1056" alt="Screenshot 2022-08-04 at 6 41 00 PM" src="https://user-images.githubusercontent.com/82495417/182856760-ec8771bc-48fc-4224-abfb-a4ce2f04d7b9.png">

[2022-08-04 20:26] rmtmckenzie commented on #205
hmm interesting, thanks for the report. I might not have time to look into this until the weekend, so until then it might be worth staying on 3.0.0.

[2022-08-06 08:34] SoftWyer commented on #205
I hacked a quick fix for this issue that can be [seen here](https://github.com/rmtmckenzie/flutter_qr_mobile_vision/compare/master...SoftWyer:flutter_qr_mobile_vision:master).

Just a case of moving where we close the image. There's a lot of image/frame 'close' handing logic in that class. Not sure whether all of it is now necessary, but left it alone and walked backwards slowly 😉

[2022-09-15 09:32] aipok commented on #205
I have the same issue, but only on devices running the Android 13. Like my Pixel 6 Pro.

[2022-09-21 14:29] rmtmckenzie commented on #205
Sorry, I've been completely swamped. No promises but I'm going to try to look into this soon. And yeah the image/frame logic is somewhat atrocious haha

[2022-09-23 13:00] hopheylalaley84 commented on #205
same

[2022-09-27 15:37] aoancea opened #207 "🐛 [PERMISSION REQUEST] App crashes when denying notifications permission on Android SDK 33"
App crashes when denying notifications permission on Android SDK 33

I've upgrade to latest `flutter version 3.3.1` and `firebase_messaging: 13.0.3`

I'm also using the new way for request notification permission from `flutter_local_notifications: 11.0.1`

[code]

I'm placing below the error log

[code]

If I remove the dependecy to `qr_mobile_vision: 4.0.1`, everything works fine
If I add a depen

[2022-10-03 12:21] SebAubin commented on #205
Same here

[2022-10-04 21:57] dtodt commented on #200
Hi! I'm facing this problem too, any idea when this fix would be available?

Error log:
[code]

[code]

[2022-10-14 15:22] RightFS opened #208 "Cannot scan code with an Exception, same error in SAMSUNG S22U and Emulator API 31"
[code]

[2022-10-28 13:08] GeoGlass commented on #208
Same here.
![image](https://user-images.githubusercontent.com/31926756/198599531-c510ee8b-3da7-4e5e-85fd-cd31d2d05413.png)

[2022-10-28 13:13] RightFS commented on #208
https://github.com/ADDInformatique/flutter_qr_mobile_vision   @GeoGlass  use this repo directly in your pubspec.yaml, it solved this problem.

[2022-11-03 16:23] SPMXithing commented on #205
I have the same issue :<

[2022-11-04 11:56] GeoGlass commented on #208
It worked! Thank you!
But it would be nice to know what happened that made it crash suddenly like that.

[2022-11-09 19:08] SupunSSW commented on #205
Same issue